In [1]:
import pandas as pd
import os
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk import ngrams
from collections import Counter

# Downloaded the stopwords through nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lindsaym\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lindsaym\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv('responses.csv', encoding='utf-8')

In [3]:
# Select emails where source is equal to KP and the survey has been completed.
by_responses = df.loc[(df['Response Type'] == 'completed') & (df['Where did you receive this survey from?'] == 'Berroco')].copy()
# List size
by_responses.shape

(2676, 210)

# BY Processing

In [4]:
# Drop BY question columns
by_columns = by_responses.columns[by_responses.isnull().all()]
# Other unncessary columns.
by_other_columns = ["Response Type", "Start Date (UTC)", "Submit Date (UTC)", "Network ID"]
# Combine both lists.
columns_to_drop = list(set(by_columns.to_list() + by_other_columns))
# Drop the columns from by_responses
by_responses.drop(columns=columns_to_drop, inplace=True)

In [5]:
by_responses.shape

(2676, 177)

In [6]:
# Concatenate 'How do you most often purchase *yarn*?' and 'Other'.
by_responses['How do you most often purchase *yarn*?'] = by_responses.apply(
    lambda row: row['Other'] if pd.notnull(row['Other']) and row['Other'].strip() != '' and (pd.isnull(row['How do you most often purchase *yarn*?']) or row['How do you most often purchase *yarn*?'].strip() == '') else row['How do you most often purchase *yarn*?'],
    axis=1
)
# Drop the 'Other' column
by_responses.drop(columns=['Other'], inplace=True)

In [7]:
# Concatenate 'Where do you most often purchase *yarn*?' and 'Other.1'.
by_responses['Where do you most often purchase* yarn*?'] = by_responses.apply(
    lambda row: row['Other.1'] if pd.notnull(row['Other.1']) and row['Other.1'].strip() != '' and (pd.isnull(row['Where do you most often purchase* yarn*?']) or row['Where do you most often purchase *yarn*?'].strip() == '') else row['Where do you most often purchase* yarn*?'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.1'], inplace=True)

In [8]:
# Concatenate 'How do you most often purchase yarn *tools & accessories*?' and 'Other.2'.
by_responses['How do you most often purchase yarn *tools & accessories*?'] = by_responses.apply(
    lambda row: row['Other.2'] if pd.notnull(row['Other.2']) and row['Other.2'].strip() != '' and (pd.isnull(row['How do you most often purchase yarn *tools & accessories*?']) or row['How do you most often purchase yarn *tools & accessories*?'].strip() == '') else row['How do you most often purchase yarn *tools & accessories*?'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.2'], inplace=True)

In [9]:
# Concatenate 'Where do you most often purchase *tools & accessories*?' and 'Other.3'.
by_responses['Where do you most often purchase *tools & accessories*?'] = by_responses.apply(
    lambda row: row['Other.3'] if pd.notnull(row['Other.3']) and row['Other.3'].strip() != '' and (pd.isnull(row['Where do you most often purchase *tools & accessories*?']) or row['Where do you most often purchase *tools & accessories*?'].strip() == '') else row['Where do you most often purchase *tools & accessories*?'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.3'], inplace=True)

In [10]:
# Concatenate 'How do you most often purchase *patterns*?' and 'Other.4'.
by_responses['How do you most often purchase *patterns*?'] = by_responses.apply(
    lambda row: row['Other.4'] if pd.notnull(row['Other.4']) and row['Other.4'].strip() != '' and (pd.isnull(row['How do you most often purchase *patterns*?']) or row['How do you most often purchase *patterns*?'].strip() == '') else row['How do you most often purchase *patterns*?'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.4'], inplace=True)

In [11]:
# Concatenate 'Where do you most often purchase *patterns*?' and 'Other.5'.
by_responses['Where do you most often purchase *patterns*?'] = by_responses.apply(
    lambda row: row['Other.5'] if pd.notnull(row['Other.5']) and row['Other.5'].strip() != '' and (pd.isnull(row['Where do you most often purchase *patterns*?']) or row['Where do you most often purchase *patterns*?'].strip() == '') else row['Where do you most often purchase *patterns*?'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.5'], inplace=True)

In [12]:
# Concatenate 'How did you first hear about our brand?.1' and 'Other.7'.
by_responses['How did you first hear about our brand?.1'] = by_responses.apply(
    lambda row: row['Other.7'] if pd.notnull(row['Other.7']) and row['Other.7'].strip() != '' and (pd.isnull(row['How did you first hear about our brand?.1']) or row['How did you first hear about our brand?.1'].strip() == '') else row['How did you first hear about our brand?.1'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.7'], inplace=True)

In [13]:
# Concatenate 'Which social media platform?' and 'Other.8'.
by_responses['Which social media platform?'] = by_responses.apply(
    lambda row: row['Other.8'] if pd.notnull(row['Other.8']) and row['Other.8'].strip() != '' and (pd.isnull(row['Which social media platform?']) or row['Which social media platform?'].strip() == '') else row['Which social media platform?'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.8'], inplace=True)

In [14]:
# Concatenate 'Which social media platform?.1' and 'Other.9'.
by_responses['Which social media platform?.1'] = by_responses.apply(
    lambda row: row['Other.9'] if pd.notnull(row['Other.9']) and row['Other.9'].strip() != '' and (pd.isnull(row['Which social media platform?.1']) or row['Which social media platform?.1'].strip() == '') else row['Which social media platform?.1'],
    axis=1
)
# Drop the 'Other.1' column
by_responses.drop(columns=['Other.9'], inplace=True)

In [15]:
heard_concatenate = [
    "Amano", "Berroco", "Blue Sky Fibers", "Brown Sheep", "Caron", "Cascade Yarns", "Circulo",
    "Crochet.com", "Darn Good Yarn", "Fibre Company", "Freia Handpaints", "Hedgehog Fibres",
    "Hobbii", "Jimmy Beans Wool", "Katia", "Knit Picks", "Koigu", "Lana Grossa", "Lang", "Lily",
    "Lion Brand Yarn", "Lopo", "LoveCrafts", "MadelineTosh", "Malabrigo Yarn", "Manos del Uruguay",
    "Mary Maxim", "Noro", "Novita", "Paintbox", "Plymouth", "Premier Yarns", "Purl Soho", "Red Heart",
    "Regia", "Rowan", "Scheepjes", "Sirdar", "SpinCycle", "Trendsetter", "Universal Yarns",
    "WeAreKnitters", "Webs (Yarn.com)", "West Yorkshire Spinners", "Wool and the Gang", "WoolAddicts",
    "Yarnspirations"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
by_responses['Which brands have you heard of?'] = by_responses[heard_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
heard_index = by_responses.columns.get_loc("Amano")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
by_responses.insert(heard_index, 'Which brands have you heard of?', by_responses.pop('Which brands have you heard of?'))

# Drop the original columns
by_responses.drop(columns=heard_concatenate, inplace=True)

In [16]:
bought_concatenate = [
    "Amano.1", "Berroco.1", "Blue Sky Fibers.1", "Brown Sheep.1", "Caron.1", "Cascade Yarns.1", "Circulo.1",
    "Crochet.com.1", "Darn Good Yarn.1", "Fibre Company.1", "Freia Handpaints.1", "Hedgehog Fibres.1",
    "Hobbii.1", "Jimmy Beans Wool.1", "Katia.1", "Knit Picks.1", "Koigu.1", "Lana Grossa.1", "Lang.1", "Lily.1",
    "Lion Brand Yarn.1", "Lopo.1", "LoveCrafts.1", "MadelineTosh.1", "Malabrigo Yarn.1", "Manos del Uruguay.1",
    "Mary Maxim.1", "Noro.1", "Novita.1", "Paintbox.1", "Plymouth.1", "Premier Yarns.1", "Purl Soho.1", "Red Heart.1",
    "Regia.1", "Rowan.1", "Scheepjes.1", "Sirdar.1", "SpinCycle.1", "Trendsetter.1", "Universal Yarns.1",
    "WeAreKnitters.1", "Webs (Yarn.com).1", "West Yorkshire Spinners.1", "Wool and the Gang.1", "WoolAddicts.1",
    "Yarnspirations.1"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
by_responses['Which brands have you purchased from?'] = by_responses[bought_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
bought_index = by_responses.columns.get_loc("Amano.1")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
by_responses.insert(bought_index, 'Which brands have you purchased from?', by_responses.pop('Which brands have you purchased from?'))


# Drop the original columns
by_responses.drop(columns=bought_concatenate, inplace=True)

In [17]:
fibers_concatenate = [
    "Wool yarns", "Cotton yarns", "Synthetic yarns (e.g., acrylic, nylon)",  
    "Luxury yarns (e.g., silk, cashmere)", "Blended yarns", "Other.11"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
by_responses['Which of our yarn fibers do you frequently purchase?'] = by_responses[fibers_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
fibers_index = by_responses.columns.get_loc("Wool yarns")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
by_responses.insert(fibers_index, 'Which of our yarn fibers do you frequently purchase?', by_responses.pop('Which of our yarn fibers do you frequently purchase?'))


# Drop the original columns
by_responses.drop(columns=fibers_concatenate, inplace=True)

In [18]:
projects_concatenate = [
    "Accessories (e.g., scarves, shawls)", "Clothing items (e.g., sweaters, hats, mittens)", "Baby (e.g., smaller sweaters, hats, mittens)",  
    "Home decor (e.g., blankets, cushions)", "Menswear (e.g., bigger sweaters, hats, mittens)", "Toys and amigurumi", "Other.12"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
by_responses['Which types of projects do you typically buy our yarn for?'] = by_responses[projects_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
projects_index = by_responses.columns.get_loc("Accessories (e.g., scarves, shawls)")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
by_responses.insert(projects_index, 'Which types of projects do you typically buy our yarn for?', by_responses.pop('Which types of projects do you typically buy our yarn for?'))


# Drop the original columns
by_responses.drop(columns=projects_concatenate, inplace=True)

In [19]:
project_ideas_concatenate = [
    "Facebook", "Instagram", "Twitter", "Pinterest", "Ravelry",
    "YouTube", "TikTok", "I don't use social media.", "Other.13"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
by_responses['Which social media platforms do you normally get project ideas from?'] = by_responses[project_ideas_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
project_ideas_index = by_responses.columns.get_loc("Facebook")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
by_responses.insert(project_ideas_index, 'Which social media platforms do you normally get project ideas from?', by_responses.pop('Which social media platforms do you normally get project ideas from?'))


# Drop the original columns
by_responses.drop(columns=project_ideas_concatenate, inplace=True)

In [20]:
by_responses.to_csv('by_processed.csv', encoding='utf-8-sig', index=False)

# BY Summarization

In [21]:
# Text wrapping is good actually.
pd.set_option('display.width', 100)

# Create list of all questions to summarize.
by_responses.columns.tolist()

# Defintion to churn out totals/percentages to avoid copy pasta.
def summarize_column(df, column_name):
    non_null_data = df[column_name].dropna()
    summary = non_null_data.value_counts()
    percentages = (non_null_data.value_counts(normalize=True) * 100).round(1)
    summary = pd.DataFrame({'Total': summary, 'Percentage': percentages})
    sample_size = non_null_data.shape[0]
    return summary, sample_size

In [22]:
# Do you participate in any yarn crafts?
question = by_responses.columns[3]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you participate in any yarn crafts? (Sample Size: n = 2676)

                                        Total  Percentage
Do you participate in any yarn crafts?
Yes                                      2676       100.0

In [23]:
# Do you crochet?
question = by_responses.columns[4]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you crochet? (Sample Size: n = 2676)

                 Total  Percentage
Do you crochet?
Yes               1679        62.7
No                 997        37.3

In [24]:
# What is your current skill level in crocheting?
question = by_responses.columns[5]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your current skill level in crocheting? (Sample Size: n = 1626)

                                                 Total  Percentage
What is your current skill level in crocheting?
Intermediate                                       719        44.2
Advanced                                           440        27.1
Beginner                                           327        20.1
Expert                                             116         7.1
Professional                                        24         1.5

In [25]:
# How often do you crochet?
question = by_responses.columns[6]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How often do you crochet? (Sample Size: n = 1623)

                           Total  Percentage
How often do you crochet?
A few times a year           655        40.4
Once a year or less          223        13.7
Monthly                      222        13.7
A few times a week           221        13.6
Daily                        165        10.2
Weekly                       137         8.4

In [26]:
# Do you knit?
question = by_responses.columns[7]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you knit? (Sample Size: n = 2676)

              Total  Percentage
Do you knit?
Yes            2633        98.4
No               43         1.6

In [27]:
# What is your current skill level in knitting?
question = by_responses.columns[8]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your current skill level in knitting? (Sample Size: n = 2542)

                                               Total  Percentage
What is your current skill level in knitting?
Advanced                                        1170        46.0
Intermediate                                     766        30.1
Expert                                           449        17.7
Professional                                      96         3.8
Beginner                                          61         2.4

In [28]:
# How often do you knit?
question = by_responses.columns[9]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How often do you knit? (Sample Size: n = 2541)

                        Total  Percentage
How often do you knit?
Daily                    1563        61.5
A few times a week        577        22.7
Weekly                    167         6.6
Monthly                   115         4.5
A few times a year        105         4.1
Once a year or less        14         0.6

In [29]:
# Do you participate in yarn crafts besides crochet or knitting?
question = by_responses.columns[10]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you participate in yarn crafts besides crochet or knitting? (Sample Size: n = 2676)

                                                    Total  Percentage
Do you participate in yarn crafts besides croch...
No                                                   1753        65.5
Yes                                                   923        34.5

In [30]:
# Which yarn craft do you participate in?

# Case sensitive, cast lower case. 
by_responses.iloc[:, 11] = by_responses.iloc[:, 11].str.lower()
# Reset null values.
by_responses.iloc[:, 11] = by_responses.iloc[:, 11].astype(str).str.lower().replace('nan', np.nan)

# Do you participate in yarn crafts besides crochet or knitting?
question = by_responses.columns[11]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Which yarn craft do you participate in? (Sample Size: n = 882)

                                         Total  Percentage
Which yarn craft do you participate in?
weaving                                     96        10.9
macrame                                     81         9.2
needlepoint                                 51         5.8
embroidery                                  41         4.6
spinning                                    33         3.7
cross stitch                                30         3.4
sewing                                      15         1.7
needle felting                              15         1.7
spinning, weaving                           15         1.7
weaving, spinning                           13         1.5

In [31]:
# What is your current skill level in this yarn craft?	
question = by_responses.columns[12]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your current skill level in this yarn craft? (Sample Size: n = 877)

                                                    Total  Percentage
What is your current skill level in this yarn c...
Intermediate                                          379        43.2
Beginner                                              264        30.1
Advanced                                              192        21.9
Expert                                                 31         3.5
Professional                                           11         1.3

In [32]:
# How often do you you participate in this yarn craft?
question = by_responses.columns[13]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How often do you you participate in this yarn craft? (Sample Size: n = 867)

                                                    Total  Percentage
How often do you you participate in this yarn c...
A few times a year                                    380        43.8
Monthly                                               172        19.8
Weekly                                                 96        11.1
A few times a week                                     93        10.7
Once a year or less                                    76         8.8
Daily                                                  50         5.8

In [33]:
# How do you most often purchase *yarn*?	
question = by_responses.columns[14]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(2))

Question: How do you most often purchase *yarn*? (Sample Size: n = 2563)

                                        Total  Percentage
How do you most often purchase *yarn*?
In Person                                1297        50.6
Online                                   1222        47.7

In [34]:
# Where do you most often purchase* yarn*?	
question = by_responses.columns[15]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(7))

Question: Where do you most often purchase* yarn*? (Sample Size: n = 2562)

                                                    Total  Percentage
Where do you most often purchase* yarn*?
Local Yarn Store                                     1179        46.0
Online Store (Knitpicks, Crochet.com, etc...)         783        30.6
Chain Store (Joann's, Michaels, Hobby Lobby, et...    267        10.4
No preference                                         152         5.9
Online Marketplace (Facebook, Etsy, Ravelry, et...     57         2.2
Amazon                                                 22         0.9
Big Box Store (Walmart, Target, etc...)                19         0.7

In [35]:
# How do you most often purchase yarn *tools & accessories*?
question = by_responses.columns[16]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(2))

Question: How do you most often purchase yarn *tools & accessories*? (Sample Size: n = 2575)

                                                    Total  Percentage
How do you most often purchase yarn *tools & ac...
Online                                               1302        50.6
In Person                                            1237        48.0

In [36]:
# Where do you most often purchase *tools & accessories*?
question = by_responses.columns[17]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(7))

Question: Where do you most often purchase *tools & accessories*? (Sample Size: n = 2563)

                                                    Total  Percentage
Where do you most often purchase *tools & acces...
Local Yarn Store                                     1014        39.6
Online Store (Knitpicks, Crochet.com, etc...)         643        25.1
Chain Store (Joann's, Michaels, Hobby Lobby, et...    322        12.6
Amazon                                                282        11.0
No preference                                         187         7.3
Online Marketplace (Facebook, Etsy, Ravelry, et...     50         2.0
Big Box Store (Walmart, Target, etc...)                25         1.0

In [37]:
# How do you most often purchase *patterns*?
question = by_responses.columns[18]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(2))

Question: How do you most often purchase *patterns*? (Sample Size: n = 2559)

                                            Total  Percentage
How do you most often purchase *patterns*?
Online                                       2278        89.0
In Person                                     178         7.0

In [38]:
# Where do you most often purchase *patterns*?
question = by_responses.columns[19]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: Where do you most often purchase *patterns*? (Sample Size: n = 2560)

                                                    Total  Percentage
Where do you most often purchase *patterns*?
Online Marketplace (Facebook, Etsy, Ravelry, et...   1498        58.5
Online Store (Knitpicks, Crochet.com, etc...)         358        14.0
No preference                                         280        10.9
Local Yarn Store                                      163         6.4
Ravelry                                               115         4.5
Chain Store (Joann's, Michaels, Hobby Lobby, et...     27         1.1

In [39]:
# How have your yarn shopping habits changed over time?
question = by_responses.columns[20]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How have your yarn shopping habits changed over time? (Sample Size: n = 2565)

                                                    Total  Percentage
How have your yarn shopping habits changed over...
I buy more yarn online now.                          1229        47.9
No change.                                           1038        40.5
I buy more yarn in person now.                        298        11.6

In [40]:
# How many times do you make an *in-store* yarn related purchase each year?
question = by_responses.columns[21]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How many times do you make an *in-store* yarn related purchase each year? (Sample Size: n = 2339)

                                                    Total  Percentage
How many times do you make an *in-store* yarn r...
10+                                                   485        20.7
4                                                     312        13.3
3                                                     311        13.3
2                                                     283        12.1
6                                                     261        11.2
5                                                     202         8.6
1                                                     186         8.0
0                                                     118         5.0
8                                                     117         5.0
7                                                      50         2.1
9                                                      14         0.6

In [41]:
# How much do you typically spend per *in-store* purchase?
question = by_responses.columns[22]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How much do you typically spend per *in-store* purchase? (Sample Size: n = 2478)

                                                    Total  Percentage
How much do you typically spend per *in-store* ...
$41 - $50                                             355        14.3
$91 - $100                                            308        12.4
$21 - $30                                             266        10.7
$51 - $60                                             247        10.0
$31 - $40                                             235         9.5
$71 - $80                                             175         7.1
$11 - $20                                             160         6.5
$61 - $70                                             141         5.7
$101 - $125                                           140         5.6
$126 - $150                                           100         4.0
$0                                                     99         4.0
$151 - $200                                            87         3.5
$81 - $90                                              67         2.7
$200 +                                                 55         2.2
$1 - $10                                               43         1.7

In [42]:
# How many times do you make an *online* yarn related purchase each year?
question = by_responses.columns[23]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How many times do you make an *online* yarn related purchase each year? (Sample Size: n = 2392)

                                                    Total  Percentage
How many times do you make an *online* yarn rel...
10+                                                   387        16.2
2                                                     363        15.2
4                                                     310        13.0
3                                                     299        12.5
0                                                     235         9.8
6                                                     224         9.4
1                                                     220         9.2
5                                                     208         8.7
8                                                      90         3.8
7                                                      38         1.6
9                                                      18         0.8

In [43]:
# How much do you typically spend per *online* purchase?
question = by_responses.columns[24]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How much do you typically spend per *online* purchase? (Sample Size: n = 2492)

                                                    Total  Percentage
How much do you typically spend per *online* pu...
$41 - $50                                             358        14.4
$91 - $100                                            287        11.5
$51 - $60                                             244         9.8
$0                                                    217         8.7
$21 - $30                                             213         8.5
$71 - $80                                             201         8.1
$31 - $40                                             200         8.0
$61 - $70                                             166         6.7
$101 - $125                                           155         6.2
$126 - $150                                           106         4.3
$11 - $20                                             102         4.1
$151 - $200                                            77         3.1
$81 - $90                                              72         2.9
$1 - $10                                               49         2.0
$200 +                                                 45         1.8

In [44]:
# Where did you receive this survey from?
question = by_responses.columns[25]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Where did you receive this survey from? (Sample Size: n = 2676)

                                         Total  Percentage
Where did you receive this survey from?
Berroco                                   2676       100.0

In [45]:
# How did you first hear about our brand?
question = by_responses.columns[26]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: How did you first hear about our brand?.1 (Sample Size: n = 2560)

                                                    Total  Percentage
How did you first hear about our brand?.1
Browsing In Store                                    1311        51.2
Email (Promotional, Newsletter)                       278        10.9
Social Media (Instagram, Facebook, Pinterest, e...    202         7.9
Online Ads (Search engines, Sponsored content)        185         7.2
Word of Mouth (Friends/Family, Colleagues)            165         6.4
Events (In-store, Trade shows, Workshops)             135         5.3

In [46]:
# How did you first hear about our brand?
question = by_responses.columns[27]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(8))

Question: Which social media platform? (Sample Size: n = 202)

                              Total  Percentage
Which social media platform?
Facebook                         87        43.1
Ravelry                          49        24.3
Instagram                        34        16.8
Pinterest                        17         8.4
YouTube                           9         4.5
Twitter                           2         1.0
Reddit                            1         0.5
e-mail                            1         0.5

In [47]:
# Which brands have you heard of?

# Print statement question.
question = by_responses.columns[28]

# Split previous concatenation.
split_brands = by_responses.iloc[:, 28].str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = by_responses.iloc[:, 28].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'SplitBrands': split_brands})
temp_df = temp_df.explode('SplitBrands')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['SplitBrands'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
brand_counts = temp_df['SplitBrands'].value_counts().reset_index()
brand_counts.columns = ['Brand', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
brand_counts['Percentage'] = ((brand_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(brand_counts)

Question: Which brands have you heard of? (Sample Size: n = 2676)

                      Brand  Count  Percentage
0                   Berroco   2519        94.1
1             Cascade Yarns   2380        88.9
2           Lion Brand Yarn   2374        88.7
3                 Red Heart   2233        83.4
4                Knit Picks   2203        82.3
5            Malabrigo Yarn   2185        81.7
6                     Rowan   2177        81.4
7                      Noro   2096        78.3
8                     Caron   2089        78.1
9                  Plymouth   2053        76.7
10          Webs (Yarn.com)   1986        74.2
11         Jimmy Beans Wool   1977        73.9
12        Manos del Uruguay   1938        72.4
13          Blue Sky Fibers   1911        71.4
14             MadelineTosh   1895        70.8
15                   Sirdar   1826        68.2
16                Purl Soho   1824        68.2
17              Brown Sheep   1805        67.5
18              Lana Grossa   1765        66.0
19           Yarnspirations   1611        60.2
20                    Koigu   1601        59.8
21                Scheepjes   1581        59.1
22          Universal Yarns   1561        58.3
23                     Lang   1528        57.1
24               Mary Maxim   1526        57.0
25          Hedgehog Fibres   1435        53.6
26            Premier Yarns   1361        50.9
27               LoveCrafts   1336        49.9
28                    Katia   1333        49.8
29                    Regia   1324        49.5
30                 Paintbox   1316        49.2
31        Wool and the Gang   1274        47.6
32                   Hobbii   1189        44.4
33            Fibre Company   1087        40.6
34              Trendsetter   1070        40.0
35           Darn Good Yarn   1005        37.6
36  West Yorkshire Spinners    931        34.8
37                SpinCycle    871        32.5
38         Freia Handpaints    833        31.1
39                     Lily    806        30.1
40              WoolAddicts    788        29.4
41            WeAreKnitters    589        22.0
42                    Amano    431        16.1
43              Crochet.com    370        13.8
44                  Circulo    320        12.0
45                   Novita    318        11.9
46                     Lopo    213         8.0

In [48]:
# Which brands have you purchase from?

# Print statement question.
question = by_responses.columns[29]

# Split previous concatenation
split_brands = by_responses.iloc[:, 29].str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = by_responses.iloc[:, 29].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'SplitBrands': split_brands})
temp_df = temp_df.explode('SplitBrands')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['SplitBrands'].str.strip().astype(bool)]

# Count occurrences of each brand
brand_counts = temp_df['SplitBrands'].value_counts().reset_index()
brand_counts.columns = ['Brand', 'Count']

# Calculate the percentage of each brand's occurrence based on the original number of responses
brand_counts['Percentage'] = ((brand_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(brand_counts)

Question: Which brands have you purchased from? (Sample Size: n = 2676)

                      Brand  Count  Percentage
0                   Berroco   2141        80.0
1             Cascade Yarns   1821        68.0
2           Lion Brand Yarn   1710        63.9
3            Malabrigo Yarn   1626        60.8
4                Knit Picks   1533        57.3
5           Webs (Yarn.com)   1379        51.5
6                      Noro   1269        47.4
7                     Rowan   1241        46.4
8                  Plymouth   1216        45.4
9         Manos del Uruguay   1188        44.4
10             MadelineTosh   1162        43.4
11                Red Heart   1075        40.2
12                    Caron   1033        38.6
13              Brown Sheep   1013        37.9
14          Blue Sky Fibers   1001        37.4
15         Jimmy Beans Wool    922        34.5
16                   Sirdar    795        29.7
17                    Regia    732        27.4
18                    Koigu    720        26.9
19          Universal Yarns    717        26.8
20                Purl Soho    676        25.3
21              Lana Grossa    644        24.1
22           Yarnspirations    599        22.4
23                    Katia    595        22.2
24                Scheepjes    584        21.8
25                     Lang    567        21.2
26          Hedgehog Fibres    565        21.1
27            Premier Yarns    545        20.4
28               Mary Maxim    503        18.8
29               LoveCrafts    488        18.2
30            Fibre Company    461        17.2
31  West Yorkshire Spinners    371        13.9
32              Trendsetter    356        13.3
33                     Lily    336        12.6
34                   Hobbii    309        11.5
35                 Paintbox    304        11.4
36         Freia Handpaints    302        11.3
37           Darn Good Yarn    255         9.5
38        Wool and the Gang    238         8.9
39                SpinCycle    237         8.9
40                    Amano    128         4.8
41            WeAreKnitters    113         4.2
42              WoolAddicts     99         3.7
43              Crochet.com     83         3.1
44                  Circulo     64         2.4
45                   Novita     58         2.2
46                     Lopo     46         1.7

In [49]:
# What makes our yarn stand out from competitors to you?

# Print statement question.
question = by_responses.columns[30]
#Same size.
sample_size = by_responses.iloc[:, 30].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 30].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Add a line break
print("\n")

print("Top 10 Bi-grams:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Tri-grams:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: What makes our yarn stand out from competitors to you? (Sample Size: n = 2415)


Top 10 Single Word Occurrences:
qualiti: 924
yarn: 499
color: 485
price: 443
varieti: 327
good: 306
pattern: 236
fiber: 200
select: 131
great: 116


Top 10 Bi-grams:
('good', 'qualiti'): 121
('qualiti', 'price'): 98
('price', 'qualiti'): 83
('qualiti', 'qualiti'): 77
('qualiti', 'varieti'): 75
('reason', 'price'): 66
('pattern', 'support'): 63
('qualiti', 'color'): 56
('qualiti', 'yarn'): 55
('varieti', 'qualiti'): 52



Top 10 Tri-grams:
('qualiti', 'reason', 'price'): 25
('qualiti', 'price', 'qualiti'): 23
('good', 'qualiti', 'reason'): 15
('qualiti', 'good', 'qualiti'): 14
('price', 'qualiti', 'varieti'): 12
('price', 'good', 'qualiti'): 12
('qualiti', 'varieti', 'qualiti'): 12
('yarn', 'reason', 'price'): 11
('qualiti', 'price', 'point'): 10
('good', 'qualiti', 'good'): 10

In [50]:
# Compared to other brands, how do you rate the price of our products?
question = by_responses.columns[31]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Compared to other brands, how do you rate the price of our products? (Sample Size: n = 2530)

                                                    Total  Percentage
Compared to other brands, how do you rate the p...
About the Same                                       1362        53.8
Somewhat Lower                                        672        26.6
Somewhat Higher                                       421        16.6
Significantly Lower                                    40         1.6
Significantly Higher                                   35         1.4

In [51]:
# Where do you prefer to explore or learn about new yarn products?
question = by_responses.columns[32]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Where do you prefer to explore or learn about new yarn products? (Sample Size: n = 2676)

                                                    Total  Percentage
Where do you prefer to explore or learn about n...
Local yarn shop                                       924        34.5
No Preference                                         547        20.4
Fiber festivals, craft fairs, and events              490        18.3
Online stores                                         420        15.7
Social media                                          247         9.2
Knitting/crochet workshops                             48         1.8

In [52]:
# Which social media platform do you prefer to learn about new yarn products?
question = by_responses.columns[33]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(8))

Question: Which social media platform?.1 (Sample Size: n = 231)

                                Total  Percentage
Which social media platform?.1
Instagram                          73        31.6
Facebook                           64        27.7
Ravelry                            61        26.4
Pinterest                          14         6.1
YouTube                            13         5.6
TikTok                              2         0.9
Your email                          1         0.4
blogs, newsletters                  1         0.4

In [53]:
# How often do you visit a local yarn store?
question = by_responses.columns[34]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: How often do you visit a local yarn store? (Sample Size: n = 2561)

                                            Total  Percentage
How often do you visit a local yarn store?
A few times a year                           1260        49.2
Monthly                                       519        20.3
Rarely                                        446        17.4
Weekly                                        253         9.9
Never                                          83         3.2

In [54]:
# Do you participate in knitting/crochet classes or meetups?
question = by_responses.columns[35]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: Do you participate in knitting/crochet classes or meetups? (Sample Size: n = 2566)

                                                    Total  Percentage
Do you participate in knitting/crochet classes ...
Yes                                                  1299        50.6
No                                                   1267        49.4

In [55]:
#  Do you attend any fiber festivals or shows for makers?
question = by_responses.columns[36]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: Do you attend any fiber festivals or shows for makers? (Sample Size: n = 2676)

                                                    Total  Percentage
Do you attend any fiber festivals or shows for ...
No                                                   1379        51.5
Yes                                                  1297        48.5

In [56]:
# If so, which fiber festivals or shows?

# Print statement question.
question = by_responses.columns[37]
#Same size.
sample_size = by_responses.iloc[:, 37].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 37].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Add a line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: If so, which fiber festivals or shows? (Sample Size: n = 1188)


Top 10 Single Word Occurrences:
fiber: 358
wool: 325
festiv: 312
sheep: 307
knit: 138
local: 135
rhinebeck: 129
vogu: 111
fest: 101
yarn: 100


Top 10 Two Word Occurrences:
('sheep', 'wool'): 254
('fiber', 'festiv'): 162
('fiber', 'fest'): 80
('vogu', 'knit'): 77
('maryland', 'sheep'): 74
('wool', 'festiv'): 71
('knit', 'live'): 44
('ny', 'sheep'): 37
('new', 'england'): 34
('yarn', 'crawl'): 32



Top 10 Three Word Occurrences:
('maryland', 'sheep', 'wool'): 71
('sheep', 'wool', 'festiv'): 53
('vogu', 'knit', 'live'): 43
('ny', 'sheep', 'wool'): 36
('sheep', 'wool', 'rhinebeck'): 26
('new', 'england', 'fiber'): 21
('michigan', 'fiber', 'festiv'): 17
('sheep', 'wool', 'vogu'): 16
('md', 'sheep', 'wool'): 15
('nh', 'sheep', 'wool'): 14

In [57]:
#  Which of our yarn fibers do you frequently purchase?

# Print statement question.
question = by_responses.columns[38]

# Remove parenthesis, they have commas.
preprocessed = by_responses.iloc[:, 38].str.replace(r"\s*\([^)]*\)", "", regex=True)

# Split previous concatenation.
split_options = preprocessed.str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = by_responses.iloc[:, 38].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'Split': split_options})
temp_df = temp_df.explode('Split')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['Split'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
option_counts = temp_df['Split'].value_counts().reset_index()
option_counts.columns = ['Options', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
option_counts['Percentage'] = ((option_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(option_counts.head(5))

Question: Which of our yarn fibers do you frequently purchase? (Sample Size: n = 2676)

           Options  Count  Percentage
0       Wool yarns   1890        70.6
1    Blended yarns   1769        66.1
2     Cotton yarns   1129        42.2
3     Luxury yarns    759        28.4
4  Synthetic yarns    709        26.5

In [58]:
# Which types of projects do you typically buy our yarn for?

# Print statement question.
question = by_responses.columns[39]

# Remove parenthesis, they have commas.
preprocessed = by_responses.iloc[:, 39].str.replace(r"\s*\([^)]*\)", "", regex=True)

# Split previous concatenation.
split_options = preprocessed.str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = by_responses.iloc[:, 39].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'Split': split_options})
temp_df = temp_df.explode('Split')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['Split'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
option_counts = temp_df['Split'].value_counts().reset_index()
option_counts.columns = ['Options', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
option_counts['Percentage'] = ((option_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(option_counts.head(5))

Question: Which types of projects do you typically buy our yarn for? (Sample Size: n = 2676)

          Options  Count  Percentage
0  Clothing items   2200        82.2
1     Accessories   1983        74.1
2            Baby   1012        37.8
3      Home decor    754        28.2
4        Menswear    346        12.9

In [59]:
# Can you briefly explain why you buy these yarn fibers for the selected project types?

# Print statement question.
question = by_responses.columns[40]
#Same size.
sample_size = by_responses.iloc[:, 40].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 40].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: Can you briefly explain why you buy these yarn fibers for the selected project types? (Sample Size: n = 1522)


Top 10 Single Word Occurrences:
yarn: 379
wool: 363
like: 290
fiber: 244
knit: 173
project: 165
qualiti: 162
feel: 150
prefer: 149
blend: 138


Top 10 Two Word Occurrences:
('natur', 'fiber'): 92
('prefer', 'natur'): 50
('easi', 'care'): 43
('wool', 'blend'): 40
('like', 'feel'): 26
('buy', 'yarn'): 24
('wool', 'wool'): 22
('feel', 'good'): 22
('qualiti', 'yarn'): 21
('eas', 'care'): 21



Top 10 Three Word Occurrences:
('prefer', 'natur', 'fiber'): 37
('wool', 'wool', 'blend'): 19
('like', 'natur', 'fiber'): 14
('prefer', 'natur', 'fibr'): 7
('natur', 'fiber', 'prefer'): 6
('feel', 'good', 'skin'): 5
('qualiti', 'natur', 'fiber'): 5
('knit', 'prefer', 'natur'): 5
('work', 'natur', 'fiber'): 5
('like', 'work', 'wool'): 5

In [60]:
# How important is sustainability in the yarns you choose?
question = by_responses.columns[41]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How important is sustainability in the yarns you choose? (Sample Size: n = 2560)

                                                    Total  Percentage
How important is sustainability in the yarns yo...
Somewhat important                                   1051        41.1
Very important                                        822        32.1
Extremely important                                   385        15.0
Not very important                                    237         9.3
Not important at all                                   65         2.5

In [61]:
# Which social media platforms do you normally get project ideas from?

# Print statement question.
question = by_responses.columns[42]

# Remove parenthesis, they have commas.
preprocessed = by_responses.iloc[:, 42].str.replace(r"\s*\([^)]*\)", "", regex=True)

# Split previous concatenation.
split_options = preprocessed.str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = by_responses.iloc[:, 42].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'Split': split_options})
temp_df = temp_df.explode('Split')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['Split'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
option_counts = temp_df['Split'].value_counts().reset_index()
option_counts.columns = ['Options', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
option_counts['Percentage'] = ((option_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(option_counts.head(10))

Question: Which social media platforms do you normally get project ideas from? (Sample Size: n = 2676)

                     Options  Count  Percentage
0                    Ravelry   2203        82.3
1                   Facebook    794        29.7
2                  Instagram    779        29.1
3                  Pinterest    777        29.0
4                    YouTube    545        20.4
5  I don't use social media.    159         5.9
6                     TikTok     28         1.0
7                    Twitter     26         1.0
8                  Magazines     10         0.4
9                      Email      5         0.2

In [62]:
# Who is your favorite content creator or designer you follow?

# Print statement question.
question = by_responses.columns[43]
#Same size.
sample_size = by_responses.iloc[:, 43].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 43].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams
bi_grams = ngrams(all_words, 2)

# Count and find the top 10 bigram
top_bi_grams = Counter(bi_grams).most_common(20)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

print("Top 20 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

Question: Who is your favorite content creator or designer you follow? (Sample Size: n = 1833)


Top 20 Two Word Occurrences:
('andrea', 'mowri'): 117
('stephen', 'west'): 77
('joji', 'locatelli'): 43
('norah', 'gaughan'): 42
('isabel', 'kraemer'): 31
('follow', 'anyon'): 28
('tin', 'knit'): 28
('kate', 'davi'): 25
('elizabeth', 'smith'): 21
('petit', 'knit'): 21
('debbi', 'bliss'): 20
('romi', 'hill'): 20
('one', 'particular'): 20
('carol', 'feller'): 18
('caitlin', 'hunter'): 17
('patti', 'lyon'): 17
('mari', 'green'): 17
('arn', 'carlo'): 17
('yarn', 'harlot'): 16
('purl', 'soho'): 15

In [63]:
# How many projects do you start in a year?
question = by_responses.columns[44]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How many projects do you start in a year? (Sample Size: n = 2532)

                                           Total  Percentage
How many projects do you start in a year?
10.0                                         379        15.0
6.0                                          251         9.9
20.0                                         240         9.5
5.0                                          218         8.6
12.0                                         189         7.5
15.0                                         173         6.8
4.0                                          158         6.2
8.0                                          144         5.7
3.0                                          137         5.4
25.0                                         102         4.0

In [64]:
# How many projects do you complete in a year?
question = by_responses.columns[45]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How many projects do you complete in a year?  (Sample Size: n = 2676)

                                               Total  Percentage
How many projects do you complete in a year?
10.0                                             294        11.0
5.0                                              240         9.0
4.0                                              237         8.9
6.0                                              222         8.3
3.0                                              196         7.3
20.0                                             163         6.1
2.0                                              163         6.1
8.0                                              163         6.1
12.0                                             151         5.6
15.0                                             150         5.6

In [65]:
# Which brands or indie designers have the best patterns in terms of design and wearability?

# Print statement question.
question = by_responses.columns[46]
#Same size.
sample_size = by_responses.iloc[:, 46].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 46].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)

# Count and find the top 10 uni, bi, and tri-grams,
top_bi_grams = Counter(bi_grams).most_common(20)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

print("Top 20 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

Question: Which brands or indie designers have the best patterns in terms of design and wearability?
 (Sample Size: n = 1862)


Top 20 Two Word Occurrences:
('andrea', 'mowri'): 113
('tin', 'knit'): 90
('isabel', 'kraemer'): 61
('purl', 'soho'): 59
('stephen', 'west'): 48
('lion', 'brand'): 46
('petit', 'knit'): 45
('joji', 'locatelli'): 44
('brooklyn', 'tweed'): 29
('elizabeth', 'smith'): 23
('norah', 'gaughan'): 22
('kate', 'davi'): 20
('caitlin', 'hunter'): 20
('carol', 'feller'): 17
('thea', 'colman'): 16
('laura', 'aylor'): 15
('mari', 'green'): 15
('knit', 'pick'): 15
('ami', 'christoff'): 14
('melani', 'berg'): 13

In [66]:
# Which brands or indie designers have the best pattern instructions? 

# Print statement question.
question = by_responses.columns[47]
#Same size.
sample_size = by_responses.iloc[:, 47].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 47].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)

# Count and find the top 10 uni, bi, and tri-grams,
top_bi_grams = Counter(bi_grams).most_common(20)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

print("Top 20 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

Question: Which brands or indie designers have the best pattern instructions? (Sample Size: n = 1800)


Top 20 Two Word Occurrences:
('tin', 'knit'): 89
('andrea', 'mowri'): 73
('lion', 'brand'): 47
('purl', 'soho'): 41
('stephen', 'west'): 38
('brooklyn', 'tweed'): 28
('helen', 'stewart'): 24
('isabel', 'kraemer'): 23
('joji', 'locatelli'): 23
('elizabeth', 'smith'): 22
('mari', 'green'): 22
('petit', 'knit'): 16
('red', 'heart'): 15
('patti', 'lyon'): 14
('knit', 'berroco'): 14
('express', 'fiber'): 12
('fiber', 'art'): 12
('knit', 'pick'): 12
('laura', 'aylor'): 11
('knit', 'andrea'): 11

In [67]:
# How did you learn to knit/crochet?
question = by_responses.columns[48]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How did you learn to knit/crochet? (Sample Size: n = 2538)

                                    Total  Percentage
How did you learn to knit/crochet?
Self taught                            93         3.7
Grandmother                            62         2.4
Mother                                 57         2.2
Mom                                    36         1.4
self taught                            36         1.4
My mother                              34         1.3
My mother taught me                    32         1.3
From my mother                         31         1.2
My mom                                 28         1.1
Grandma                                24         0.9

In [68]:
# Question: Why do you knit/crochet?

# Print statement question.
question = by_responses.columns[49]
#Same size.
sample_size = by_responses.iloc[:, 49].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = by_responses.iloc[:, 49].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: Why do you knit/crochet? (Sample Size: n = 2533)


Top 10 Single Word Occurrences:
relax: 963
love: 524
make: 431
enjoy: 372
creativ: 352
like: 309
creat: 289
thing: 245
someth: 205
gift: 192


Top 10 Two Word Occurrences:
('make', 'thing'): 139
('relax', 'relax'): 98
('relax', 'creativ'): 87
('relax', 'enjoy'): 85
('love', 'make'): 76
('keep', 'hand'): 74
('relax', 'love'): 73
('like', 'make'): 71
('love', 'creat'): 70
('hand', 'busi'): 67



Top 10 Three Word Occurrences:
('keep', 'hand', 'busi'): 60
('love', 'make', 'thing'): 37
('like', 'make', 'thing'): 36
('enjoy', 'make', 'thing'): 25
('make', 'thing', 'relax'): 18
('relax', 'creativ', 'outlet'): 18
('relax', 'enjoy', 'relax'): 17
('someth', 'watch', 'tv'): 15
('make', 'thing', 'other'): 14
('creativ', 'outlet', 'relax'): 14

In [69]:
# On a scale of 0-10, how likely are you to recommend us to a friend or family member?
question = by_responses.columns[50]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: On a scale of 0-10, how likely are you to recommend us to a friend or family member? (Sample Size: n = 2551)

                                                    Total  Percentage
On a scale of 0-10, how likely are you to recom...
10.0                                                 1064        41.7
8.0                                                   513        20.1
9.0                                                   395        15.5
7.0                                                   233         9.1
5.0                                                   181         7.1
6.0                                                    95         3.7
0.0                                                    24         0.9
4.0                                                    15         0.6
3.0                                                    12         0.5
2.0                                                    11         0.4

In [70]:
# What is your current age?
question = by_responses.columns[51]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your current age?   (Sample Size: n = 2358)

                             Total  Percentage
What is your current age?
65-74                          986        41.8
55-64                          592        25.1
75 and older                   397        16.8
45-54                          233         9.9
35-44                           88         3.7
Prefer not to answer            44         1.9
25-34                           16         0.7
18-24                            2         0.1

In [71]:
# How do you identify?
question = by_responses.columns[52]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How do you identify?   (Sample Size: n = 2425)

                             Total  Percentage
How do you identify?
Woman                         2334        96.2
Prefer not to answer            65         2.7
Man                             14         0.6
Non-Conforming / Non-Binary     11         0.5
Transgender                      1         0.0

In [72]:
# What is your employment status?
question = by_responses.columns[53]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your employment status?   (Sample Size: n = 2455)

                                     Total  Percentage
What is your employment status?
Retired                               1425        58.0
Employed full-time                     579        23.6
Employed part-time                     256        10.4
Full-time homemaker                     80         3.3
Prefer not to answer                    78         3.2
Under-employed                          18         0.7
Looking for a job                       15         0.6
Student                                  4         0.2

In [73]:
# What is your highest level of education?
question = by_responses.columns[54]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your highest level of education?   (Sample Size: n = 2481)

                                              Total  Percentage
What is your highest level of education?
Bachelors degree (4-year)                      799        32.2
Masters degree                                 648        26.1
Some college (no degree)                        359        14.5
Associate degree (2-year)                       216         8.7
Professional degree (JD, MD)                    107         4.3
High school (including GED)                     107         4.3
Doctoral degree                                 105         4.2
Technical certification                          91         3.7
Prefer not to answer                             47         1.9
Less than High School                             2         0.1

In [74]:
# What is your marital status?
question = by_responses.columns[55]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your marital status?   (Sample Size: n = 2468)

                                 Total  Percentage
What is your marital status?
Married                           1622        65.7
Single                             264        10.7
Widowed                            245         9.9
Divorced                           202         8.2
Prefer not to answer               113         4.6
Separated                           22         0.9

In [75]:
# What is your total household income in U.S. dollars?
question = by_responses.columns[56]
summary, sample_size = summarize_column(by_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your total household income in U.S. dollars?   (Sample Size: n = 2459)

                                                    Total  Percentage
What is your total household income in U.S. dol...
Prefer not to answer                                  943        38.3
$100,000 - $124,999                                   218         8.9
$80,000 - $99,999                                     197         8.0
$50,000 - $64,999                                     191         7.8
$65,000 - $79,999                                     191         7.8
$35,000 - $49,999                                     155         6.3
Over $200,000                                         137         5.6
$20,000 - $34,999                                     132         5.4
$125,000 - $149,999                                   127         5.2
$150,000 - $174,999                                    72         2.9
Under $20,000                                          58         2.4
$175,000 - $199,999                                    38         1.5

# Survey End