In [1]:
import pandas as pd
import os
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk import ngrams
from collections import Counter

# Downloaded the stopwords through nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lindsaym\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lindsaym\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv('responses.csv', encoding='utf-8')

In [3]:
# Select emails where source is equal to KP and the survey has been completed.
wc_responses = df.loc[(df['Response Type'] == 'completed') & (df['Where did you receive this survey from?'] == 'Crochet.com')].copy()
# List size
wc_responses.shape

(2161, 210)

# WC Processing

In [4]:
# Drop BY question columns
wc_columns = wc_responses.columns[wc_responses.isnull().all()]
# Other unncessary columns.
wc_other_columns = ["Response Type", "Start Date (UTC)", "Submit Date (UTC)", "Network ID"]
# Combine both lists.
columns_to_drop = list(set(wc_columns.to_list() + wc_other_columns))
# Drop the columns from wc_responses
wc_responses.drop(columns=columns_to_drop, inplace=True)

In [5]:
wc_responses.shape

(2161, 194)

In [6]:
# Concatenate 'How do you most often purchase *yarn*?' and 'Other'.
wc_responses['How do you most often purchase *yarn*?'] = wc_responses.apply(
    lambda row: row['Other'] if pd.notnull(row['Other']) and row['Other'].strip() != '' and (pd.isnull(row['How do you most often purchase *yarn*?']) or row['How do you most often purchase *yarn*?'].strip() == '') else row['How do you most often purchase *yarn*?'],
    axis=1
)
# Drop the 'Other' column
wc_responses.drop(columns=['Other'], inplace=True)

In [7]:
# Concatenate 'Where do you most often purchase *yarn*?' and 'Other.1'.
wc_responses['Where do you most often purchase* yarn*?'] = wc_responses.apply(
    lambda row: row['Other.1'] if pd.notnull(row['Other.1']) and row['Other.1'].strip() != '' and (pd.isnull(row['Where do you most often purchase* yarn*?']) or row['Where do you most often purchase *yarn*?'].strip() == '') else row['Where do you most often purchase* yarn*?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.1'], inplace=True)

In [8]:
# Concatenate 'How do you most often purchase yarn *tools & accessories*?' and 'Other.2'.
wc_responses['How do you most often purchase yarn *tools & accessories*?'] = wc_responses.apply(
    lambda row: row['Other.2'] if pd.notnull(row['Other.2']) and row['Other.2'].strip() != '' and (pd.isnull(row['How do you most often purchase yarn *tools & accessories*?']) or row['How do you most often purchase yarn *tools & accessories*?'].strip() == '') else row['How do you most often purchase yarn *tools & accessories*?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.2'], inplace=True)

In [9]:
# Concatenate 'Where do you most often purchase *tools & accessories*?' and 'Other.3'.
wc_responses['Where do you most often purchase *tools & accessories*?'] = wc_responses.apply(
    lambda row: row['Other.3'] if pd.notnull(row['Other.3']) and row['Other.3'].strip() != '' and (pd.isnull(row['Where do you most often purchase *tools & accessories*?']) or row['Where do you most often purchase *tools & accessories*?'].strip() == '') else row['Where do you most often purchase *tools & accessories*?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.3'], inplace=True)

In [10]:
# Concatenate 'How do you most often purchase *patterns*?' and 'Other.4'.
wc_responses['How do you most often purchase *patterns*?'] = wc_responses.apply(
    lambda row: row['Other.4'] if pd.notnull(row['Other.4']) and row['Other.4'].strip() != '' and (pd.isnull(row['How do you most often purchase *patterns*?']) or row['How do you most often purchase *patterns*?'].strip() == '') else row['How do you most often purchase *patterns*?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.4'], inplace=True)

In [11]:
# Concatenate 'Where do you most often purchase *patterns*?' and 'Other.5'.
wc_responses['Where do you most often purchase *patterns*?'] = wc_responses.apply(
    lambda row: row['Other.5'] if pd.notnull(row['Other.5']) and row['Other.5'].strip() != '' and (pd.isnull(row['Where do you most often purchase *patterns*?']) or row['Where do you most often purchase *patterns*?'].strip() == '') else row['Where do you most often purchase *patterns*?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.5'], inplace=True)

In [12]:
# Concatenate 'How did you first hear about our brand?' and 'Other.6'.
wc_responses['How did you first hear about our brand?'] = wc_responses.apply(
    lambda row: row['Other.6'] if pd.notnull(row['Other.6']) and row['Other.6'].strip() != '' and (pd.isnull(row['How did you first hear about our brand?']) or row['How did you first hear about our brand?'].strip() == '') else row['How did you first hear about our brand?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.6'], inplace=True)

In [13]:
# Concatenate 'Which social media platform?' and 'Other.8'.
wc_responses['Which social media platform?'] = wc_responses.apply(
    lambda row: row['Other.8'] if pd.notnull(row['Other.8']) and row['Other.8'].strip() != '' and (pd.isnull(row['Which social media platform?']) or row['Which social media platform?'].strip() == '') else row['Which social media platform?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.8'], inplace=True)

In [14]:
# Concatenate 'Which social media platform?.1' and 'Other.9'.
wc_responses['Which social media platform?.1'] = wc_responses.apply(
    lambda row: row['Other.9'] if pd.notnull(row['Other.9']) and row['Other.9'].strip() != '' and (pd.isnull(row['Which social media platform?.1']) or row['Which social media platform?.1'].strip() == '') else row['Which social media platform?.1'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.9'], inplace=True)

In [15]:
# Concatenate 'When shopping online, what encourages you to try *new* yarn products?' and 'Other.10'.
wc_responses['When shopping online, what encourages you to try *new* yarn products?'] = wc_responses.apply(
    lambda row: row['Other.10'] if pd.notnull(row['Other.10']) and row['Other.10'].strip() != '' and (pd.isnull(row['When shopping online, what encourages you to try *new* yarn products?']) or row['When shopping online, what encourages you to try *new* yarn products?'].strip() == '') else row['When shopping online, what encourages you to try *new* yarn products?'],
    axis=1
)
# Drop the 'Other.1' column
wc_responses.drop(columns=['Other.10'], inplace=True)

In [16]:
heard_concatenate = [
    "Amano", "Berroco", "Blue Sky Fibers", "Brown Sheep", "Caron", "Cascade Yarns", "Circulo",
    "Crochet.com", "Darn Good Yarn", "Fibre Company", "Freia Handpaints", "Hedgehog Fibres",
    "Hobbii", "Jimmy Beans Wool", "Katia", "Knit Picks", "Koigu", "Lana Grossa", "Lang", "Lily",
    "Lion Brand Yarn", "Lopo", "LoveCrafts", "MadelineTosh", "Malabrigo Yarn", "Manos del Uruguay",
    "Mary Maxim", "Noro", "Novita", "Paintbox", "Plymouth", "Premier Yarns", "Purl Soho", "Red Heart",
    "Regia", "Rowan", "Scheepjes", "Sirdar", "SpinCycle", "Trendsetter", "Universal Yarns",
    "WeAreKnitters", "Webs (Yarn.com)", "West Yorkshire Spinners", "Wool and the Gang", "WoolAddicts",
    "Yarnspirations"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
wc_responses['Which brands have you heard of?'] = wc_responses[heard_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
heard_index = wc_responses.columns.get_loc("Amano")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
wc_responses.insert(heard_index, 'Which brands have you heard of?', wc_responses.pop('Which brands have you heard of?'))

# Drop the original columns
wc_responses.drop(columns=heard_concatenate, inplace=True)

In [17]:
bought_concatenate = [
    "Amano.1", "Berroco.1", "Blue Sky Fibers.1", "Brown Sheep.1", "Caron.1", "Cascade Yarns.1", "Circulo.1",
    "Crochet.com.1", "Darn Good Yarn.1", "Fibre Company.1", "Freia Handpaints.1", "Hedgehog Fibres.1",
    "Hobbii.1", "Jimmy Beans Wool.1", "Katia.1", "Knit Picks.1", "Koigu.1", "Lana Grossa.1", "Lang.1", "Lily.1",
    "Lion Brand Yarn.1", "Lopo.1", "LoveCrafts.1", "MadelineTosh.1", "Malabrigo Yarn.1", "Manos del Uruguay.1",
    "Mary Maxim.1", "Noro.1", "Novita.1", "Paintbox.1", "Plymouth.1", "Premier Yarns.1", "Purl Soho.1", "Red Heart.1",
    "Regia.1", "Rowan.1", "Scheepjes.1", "Sirdar.1", "SpinCycle.1", "Trendsetter.1", "Universal Yarns.1",
    "WeAreKnitters.1", "Webs (Yarn.com).1", "West Yorkshire Spinners.1", "Wool and the Gang.1", "WoolAddicts.1",
    "Yarnspirations.1"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
wc_responses['Which brands have you purchased from?'] = wc_responses[bought_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
bought_index = wc_responses.columns.get_loc("Amano.1")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
wc_responses.insert(bought_index, 'Which brands have you purchased from?', wc_responses.pop('Which brands have you purchased from?'))


# Drop the original columns
wc_responses.drop(columns=bought_concatenate, inplace=True)

In [18]:
fibers_concatenate = [
    "Wool yarns", "Cotton yarns", "Synthetic yarns (e.g., acrylic, nylon)",  
    "Luxury yarns (e.g., silk, cashmere)", "Blended yarns", "Other.11"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
wc_responses['Which of our yarn fibers do you frequently purchase?'] = wc_responses[fibers_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
fibers_index = wc_responses.columns.get_loc("Wool yarns")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
wc_responses.insert(fibers_index, 'Which of our yarn fibers do you frequently purchase?', wc_responses.pop('Which of our yarn fibers do you frequently purchase?'))


# Drop the original columns
wc_responses.drop(columns=fibers_concatenate, inplace=True)

In [19]:
projects_concatenate = [
    "Accessories (e.g., scarves, shawls)", "Clothing items (e.g., sweaters, hats, mittens)", "Baby (e.g., smaller sweaters, hats, mittens)",  
    "Home decor (e.g., blankets, cushions)", "Menswear (e.g., bigger sweaters, hats, mittens)", "Toys and amigurumi", "Other.12"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
wc_responses['Which types of projects do you typically buy our yarn for?'] = wc_responses[projects_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
projects_index = wc_responses.columns.get_loc("Accessories (e.g., scarves, shawls)")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
wc_responses.insert(projects_index, 'Which types of projects do you typically buy our yarn for?', wc_responses.pop('Which types of projects do you typically buy our yarn for?'))


# Drop the original columns
wc_responses.drop(columns=projects_concatenate, inplace=True)

In [20]:
project_ideas_concatenate = [
    "Facebook", "Instagram", "Twitter", "Pinterest", "Ravelry",
    "YouTube", "TikTok", "I don't use social media.", "Other.13"
]

# Concatenate values into one column, separating with commas and ignoring null/blank values
wc_responses['Which social media platforms do you normally get project ideas from?'] = wc_responses[project_ideas_concatenate].apply(
    lambda row: ', '.join(filter(None, row.dropna())), axis=1
)

# Find the index for 'Amano' to insert the new column at this position
project_ideas_index = wc_responses.columns.get_loc("Facebook")

# Insert 'Which brands have you heard of?' column back at the position where 'Amano' was
wc_responses.insert(project_ideas_index, 'Which social media platforms do you normally get project ideas from?', wc_responses.pop('Which social media platforms do you normally get project ideas from?'))


# Drop the original columns
wc_responses.drop(columns=project_ideas_concatenate, inplace=True)

In [21]:
wc_responses.to_csv('wc_processed.csv', encoding='utf-8-sig', index=False)

# WC Summarization

In [22]:
# Text wrapping is good actually.
pd.set_option('display.width', 100)

# Create list of all questions to summarize.
wc_responses.columns.tolist()

# Defintion to churn out totals/percentages to avoid copy pasta.
def summarize_column(df, column_name):
    non_null_data = df[column_name].dropna()
    summary = non_null_data.value_counts()
    percentages = (non_null_data.value_counts(normalize=True) * 100).round(1)
    summary = pd.DataFrame({'Total': summary, 'Percentage': percentages})
    sample_size = non_null_data.shape[0]
    return summary, sample_size

In [23]:
# Do you participate in any yarn crafts?
question = wc_responses.columns[3]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you participate in any yarn crafts? (Sample Size: n = 2161)

                                        Total  Percentage
Do you participate in any yarn crafts?
Yes                                      2161       100.0

In [24]:
# Do you crochet?
question = wc_responses.columns[4]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you crochet? (Sample Size: n = 2161)

                 Total  Percentage
Do you crochet?
Yes               2139        99.0
No                  22         1.0

In [25]:
# What is your current skill level in crocheting?
question = wc_responses.columns[5]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your current skill level in crocheting? (Sample Size: n = 2053)

                                                 Total  Percentage
What is your current skill level in crocheting?
Intermediate                                       927        45.2
Advanced                                           719        35.0
Beginner                                           193         9.4
Expert                                             180         8.8
Professional                                        34         1.7

In [26]:
# How often do you crochet?
question = wc_responses.columns[6]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How often do you crochet? (Sample Size: n = 2051)

                           Total  Percentage
How often do you crochet?
Daily                       1023        49.9
A few times a week           604        29.4
Weekly                       143         7.0
A few times a year           142         6.9
Monthly                      128         6.2
Once a year or less           11         0.5

In [27]:
# Do you knit?
question = wc_responses.columns[7]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you knit? (Sample Size: n = 2161)

              Total  Percentage
Do you knit?
Yes            1139        52.7
No             1022        47.3

In [28]:
# What is your current skill level in knitting?
question = wc_responses.columns[8]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your current skill level in knitting? (Sample Size: n = 1097)

                                               Total  Percentage
What is your current skill level in knitting?
Intermediate                                     401        36.6
Beginner                                         348        31.7
Advanced                                         275        25.1
Expert                                            55         5.0
Professional                                      18         1.6

In [29]:
# How often do you knit?
question = wc_responses.columns[9]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How often do you knit? (Sample Size: n = 1096)

                        Total  Percentage
How often do you knit?
Daily                     259        23.6
A few times a week        252        23.0
A few times a year        227        20.7
Monthly                   146        13.3
Weekly                    109         9.9
Once a year or less       103         9.4

In [30]:
# Do you participate in yarn crafts besides crochet or knitting?
question = wc_responses.columns[10]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Do you participate in yarn crafts besides crochet or knitting? (Sample Size: n = 2161)

                                                    Total  Percentage
Do you participate in yarn crafts besides croch...
No                                                   1515        70.1
Yes                                                   646        29.9

In [31]:
# Which yarn craft do you participate in?

# Case sensitive, cast lower case. 
wc_responses.iloc[:, 11] = wc_responses.iloc[:, 11].str.lower()
# Reset null values.
wc_responses.iloc[:, 11] = wc_responses.iloc[:, 11].astype(str).str.lower().replace('nan', np.nan)

# Do you participate in yarn crafts besides crochet or knitting?
question = wc_responses.columns[11]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Which yarn craft do you participate in? (Sample Size: n = 610)

                                         Total  Percentage
Which yarn craft do you participate in?
macrame                                    128        21.0
weaving                                     40         6.6
embroidery                                  26         4.3
cross stitch                                21         3.4
spinning                                    17         2.8
needlepoint                                 14         2.3
tapestries                                  10         1.6
felting                                     10         1.6
tapestry                                     8         1.3
sewing                                       8         1.3

In [32]:
# What is your current skill level in this yarn craft?	
question = wc_responses.columns[12]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your current skill level in this yarn craft? (Sample Size: n = 612)

                                                    Total  Percentage
What is your current skill level in this yarn c...
Beginner                                              279        45.6
Intermediate                                          228        37.3
Advanced                                               81        13.2
Expert                                                 20         3.3
Professional                                            4         0.7

In [33]:
# How often do you you participate in this yarn craft?
question = wc_responses.columns[13]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How often do you you participate in this yarn craft? (Sample Size: n = 605)

                                                    Total  Percentage
How often do you you participate in this yarn c...
A few times a year                                    244        40.3
Monthly                                               147        24.3
Once a year or less                                    66        10.9
Weekly                                                 64        10.6
A few times a week                                     54         8.9
Daily                                                  30         5.0

In [34]:
# How do you most often purchase *yarn*?	
question = wc_responses.columns[14]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(2))

Question: How do you most often purchase *yarn*? (Sample Size: n = 2065)

                                        Total  Percentage
How do you most often purchase *yarn*?
Online                                   1359        65.8
In Person                                 663        32.1

In [35]:
# Where do you most often purchase* yarn*?	
question = wc_responses.columns[15]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(7))

Question: Where do you most often purchase* yarn*? (Sample Size: n = 2058)

                                                    Total  Percentage
Where do you most often purchase* yarn*?
Online Store (Knitpicks, Crochet.com, etc...)         945        45.9
Chain Store (Joann's, Michaels, Hobby Lobby, et...    686        33.3
Local Yarn Store                                      148         7.2
No preference                                         120         5.8
Big Box Store (Walmart, Target, etc...)                57         2.8
Amazon                                                 48         2.3
Online Marketplace (Facebook, Etsy, Ravelry, et...     17         0.8

In [36]:
# How do you most often purchase yarn *tools & accessories*?
question = wc_responses.columns[16]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(2))

Question: How do you most often purchase yarn *tools & accessories*? (Sample Size: n = 2060)

                                                    Total  Percentage
How do you most often purchase yarn *tools & ac...
Online                                               1437        69.8
In Person                                             589        28.6

In [37]:
# Where do you most often purchase *tools & accessories*?
question = wc_responses.columns[17]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(7))

Question: Where do you most often purchase *tools & accessories*? (Sample Size: n = 2064)

                                                    Total  Percentage
Where do you most often purchase *tools & acces...
Online Store (Knitpicks, Crochet.com, etc...)         646        31.3
Chain Store (Joann's, Michaels, Hobby Lobby, et...    499        24.2
Amazon                                                436        21.1
No preference                                         224        10.9
Local Yarn Store                                      123         6.0
Big Box Store (Walmart, Target, etc...)                60         2.9
Online Marketplace (Facebook, Etsy, Ravelry, et...     36         1.7

In [38]:
# How do you most often purchase *patterns*?
question = wc_responses.columns[18]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(2))

Question: How do you most often purchase *patterns*? (Sample Size: n = 2054)

                                            Total  Percentage
How do you most often purchase *patterns*?
Online                                       1889        92.0
In Person                                      69         3.4

In [39]:
# Where do you most often purchase *patterns*?
question = wc_responses.columns[19]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: Where do you most often purchase *patterns*? (Sample Size: n = 2056)

                                                    Total  Percentage
Where do you most often purchase *patterns*?
Online Marketplace (Facebook, Etsy, Ravelry, et...   1224        59.5
Online Store (Knitpicks, Crochet.com, etc...)         313        15.2
No preference                                         276        13.4
Chain Store (Joann's, Michaels, Hobby Lobby, et...     47         2.3
Ravelry                                                24         1.2
Local Yarn Store                                       19         0.9

In [40]:
# How have your yarn shopping habits changed over time?
question = wc_responses.columns[20]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How have your yarn shopping habits changed over time? (Sample Size: n = 2062)

                                                    Total  Percentage
How have your yarn shopping habits changed over...
I buy more yarn online now.                          1276        61.9
No change.                                            647        31.4
I buy more yarn in person now.                        139         6.7

In [41]:
# How many times do you make an *in-store* yarn related purchase each year?
question = wc_responses.columns[21]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How many times do you make an *in-store* yarn related purchase each year? (Sample Size: n = 1953)

                                                    Total  Percentage
How many times do you make an *in-store* yarn r...
10+                                                   437        22.4
2                                                     283        14.5
3                                                     245        12.5
4                                                     234        12.0
6                                                     208        10.7
5                                                     179         9.2
1                                                     164         8.4
0                                                      93         4.8
8                                                      72         3.7
7                                                      29         1.5
9                                                       9         0.5

In [42]:
# How much do you typically spend per *in-store* purchase?
question = wc_responses.columns[22]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How much do you typically spend per *in-store* purchase? (Sample Size: n = 2031)

                                                    Total  Percentage
How much do you typically spend per *in-store* ...
$21 - $30                                             408        20.1
$41 - $50                                             333        16.4
$31 - $40                                             316        15.6
$11 - $20                                             272        13.4
$51 - $60                                             196         9.7
$91 - $100                                            120         5.9
$0                                                     80         3.9
$1 - $10                                               69         3.4
$71 - $80                                              68         3.3
$61 - $70                                              63         3.1
$101 - $125                                            34         1.7
$126 - $150                                            25         1.2
$151 - $200                                            18         0.9
$81 - $90                                              16         0.8
$200 +                                                 13         0.6

In [43]:
# How many times do you make an *online* yarn related purchase each year?
question = wc_responses.columns[23]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How many times do you make an *online* yarn related purchase each year? (Sample Size: n = 1977)

                                                    Total  Percentage
How many times do you make an *online* yarn rel...
10+                                                   535        27.1
4                                                     257        13.0
3                                                     224        11.3
6                                                     218        11.0
5                                                     216        10.9
2                                                     204        10.3
8                                                     100         5.1
1                                                      92         4.7
0                                                      67         3.4
7                                                      43         2.2
9                                                      21         1.1

In [44]:
# How much do you typically spend per *online* purchase?
question = wc_responses.columns[24]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How much do you typically spend per *online* purchase? (Sample Size: n = 2031)

                                                    Total  Percentage
How much do you typically spend per *online* pu...
$41 - $50                                             318        15.7
$91 - $100                                            271        13.3
$51 - $60                                             266        13.1
$31 - $40                                             194         9.6
$71 - $80                                             170         8.4
$21 - $30                                             167         8.2
$61 - $70                                             153         7.5
$101 - $125                                           130         6.4
$11 - $20                                              79         3.9
$126 - $150                                            75         3.7
$81 - $90                                              60         3.0
$0                                                     54         2.7
$151 - $200                                            39         1.9
$200 +                                                 36         1.8
$1 - $10                                               19         0.9

In [45]:
# Where did you receive this survey from?
question = wc_responses.columns[25]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Where did you receive this survey from? (Sample Size: n = 2161)

                                         Total  Percentage
Where did you receive this survey from?
Crochet.com                               2161       100.0

In [46]:
# How did you first hear about our brand?
question = wc_responses.columns[26]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: How did you first hear about our brand? (Sample Size: n = 2042)

                                                    Total  Percentage
How did you first hear about our brand?
Social Media (Instagram, Facebook, Pinterest, e...    805        39.4
Online Ads (Search engines, Sponsored content)        405        19.8
Email (Promotional, Newsletter)                       404        19.8
Word of Mouth (Friends/Family, Colleagues)            173         8.5
Events (In-store, Trade shows, Workshops)              30         1.5
Don't remember                                          6         0.3

In [47]:
# How did you first hear about our brand?
question = wc_responses.columns[27]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(8))

Question: Which social media platform? (Sample Size: n = 800)

                              Total  Percentage
Which social media platform?
Facebook                        303        37.9
Instagram                       201        25.1
YouTube                         156        19.5
Pinterest                        77         9.6
Ravelry                          34         4.2
Reddit                           13         1.6
TikTok                            3         0.4
Crochet.com                       1         0.1

In [48]:
# Which brands have you heard of?

# Print statement question.
question = wc_responses.columns[28]

# Split previous concatenation.
split_brands = wc_responses.iloc[:, 28].str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = wc_responses.iloc[:, 28].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'SplitBrands': split_brands})
temp_df = temp_df.explode('SplitBrands')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['SplitBrands'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
brand_counts = temp_df['SplitBrands'].value_counts().reset_index()
brand_counts.columns = ['Brand', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
brand_counts['Percentage'] = ((brand_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(brand_counts)

Question: Which brands have you heard of? (Sample Size: n = 2161)

                      Brand  Count  Percentage
0           Lion Brand Yarn   1975        91.4
1                 Red Heart   1912        88.5
2                     Caron   1866        86.3
3            Yarnspirations   1742        80.6
4               Crochet.com   1699        78.6
5                Knit Picks   1654        76.5
6                    Hobbii   1618        74.9
7             Premier Yarns   1568        72.6
8                LoveCrafts   1493        69.1
9                Mary Maxim   1401        64.8
10            Cascade Yarns   1373        63.5
11                 Paintbox   1360        62.9
12                Scheepjes   1321        61.1
13                  Berroco   1259        58.3
14           Darn Good Yarn   1100        50.9
15           Malabrigo Yarn   1084        50.2
16          Webs (Yarn.com)   1012        46.8
17        Wool and the Gang   1000        46.3
18         Jimmy Beans Wool    996        46.1
19                    Rowan    916        42.4
20                 Plymouth    860        39.8
21                     Noro    838        38.8
22                   Sirdar    806        37.3
23          Universal Yarns    769        35.6
24             MadelineTosh    750        34.7
25                Purl Soho    725        33.5
26                     Lily    674        31.2
27          Blue Sky Fibers    655        30.3
28            WeAreKnitters    610        28.2
29        Manos del Uruguay    607        28.1
30              Lana Grossa    583        27.0
31          Hedgehog Fibres    540        25.0
32                    Katia    523        24.2
33              Brown Sheep    492        22.8
34  West Yorkshire Spinners    449        20.8
35                    Koigu    430        19.9
36                     Lang    367        17.0
37                    Regia    366        16.9
38                SpinCycle    304        14.1
39              WoolAddicts    276        12.8
40            Fibre Company    273        12.6
41                  Circulo    259        12.0
42              Trendsetter    233        10.8
43         Freia Handpaints    176         8.1
44                   Novita    123         5.7
45                    Amano     85         3.9
46                     Lopo     56         2.6

In [49]:
# Which brands have you purchase from?

# Print statement question.
question = wc_responses.columns[29]

# Split previous concatenation
split_brands = wc_responses.iloc[:, 29].str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = wc_responses.iloc[:, 29].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'SplitBrands': split_brands})
temp_df = temp_df.explode('SplitBrands')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['SplitBrands'].str.strip().astype(bool)]

# Count occurrences of each brand
brand_counts = temp_df['SplitBrands'].value_counts().reset_index()
brand_counts.columns = ['Brand', 'Count']

# Calculate the percentage of each brand's occurrence based on the original number of responses
brand_counts['Percentage'] = ((brand_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(brand_counts)

Question: Which brands have you purchased from? (Sample Size: n = 2161)

                      Brand  Count  Percentage
0           Lion Brand Yarn   1695        78.4
1                 Red Heart   1299        60.1
2                     Caron   1288        59.6
3               Crochet.com   1179        54.6
4                Knit Picks   1046        48.4
5            Yarnspirations    941        43.5
6             Premier Yarns    797        36.9
7                    Hobbii    764        35.4
8             Cascade Yarns    667        30.9
9                LoveCrafts    654        30.3
10               Mary Maxim    599        27.7
11                  Berroco    536        24.8
12          Webs (Yarn.com)    505        23.4
13           Malabrigo Yarn    488        22.6
14                Scheepjes    442        20.5
15                 Paintbox    396        18.3
16                     Lily    324        15.0
17         Jimmy Beans Wool    310        14.3
18           Darn Good Yarn    290        13.4
19                 Plymouth    284        13.1
20                     Noro    263        12.2
21                    Rowan    259        12.0
22          Universal Yarns    253        11.7
23             MadelineTosh    250        11.6
24                   Sirdar    234        10.8
25        Manos del Uruguay    189         8.7
26              Brown Sheep    183         8.5
27          Blue Sky Fibers    148         6.8
28        Wool and the Gang    133         6.2
29                    Katia    130         6.0
30                Purl Soho    124         5.7
31              Lana Grossa    119         5.5
32                    Regia    115         5.3
33  West Yorkshire Spinners    110         5.1
34          Hedgehog Fibres    109         5.0
35            WeAreKnitters    105         4.9
36                    Koigu     97         4.5
37                     Lang     72         3.3
38            Fibre Company     50         2.3
39                  Circulo     48         2.2
40                SpinCycle     40         1.9
41              Trendsetter     36         1.7
42         Freia Handpaints     32         1.5
43              WoolAddicts     21         1.0
44                   Novita     19         0.9
45                    Amano     19         0.9
46                     Lopo      7         0.3

In [50]:
# What makes our yarn stand out from competitors to you?

# Print statement question.
question = wc_responses.columns[30]
#Same size.
sample_size = wc_responses.iloc[:, 30].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 30].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Add a line break
print("\n")

print("Top 10 Bi-grams:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Tri-grams:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: What makes our yarn stand out from competitors to you? (Sample Size: n = 1903)


Top 10 Single Word Occurrences:
qualiti: 691
price: 557
color: 367
yarn: 366
good: 224
select: 172
varieti: 171
fiber: 92
soft: 85
great: 83


Top 10 Bi-grams:
('qualiti', 'price'): 108
('price', 'qualiti'): 106
('good', 'qualiti'): 87
('good', 'price'): 51
('qualiti', 'qualiti'): 51
('color', 'select'): 49
('qualiti', 'good'): 41
('qualiti', 'yarn'): 41
('qualiti', 'color'): 41
('reason', 'price'): 38



Top 10 Tri-grams:
('qualiti', 'good', 'price'): 21
('price', 'good', 'qualiti'): 20
('qualiti', 'price', 'qualiti'): 18
('qualiti', 'qualiti', 'price'): 17
('good', 'qualiti', 'price'): 14
('price', 'qualiti', 'price'): 14
('good', 'price', 'qualiti'): 12
('price', 'qualiti', 'qualiti'): 10
('good', 'qualiti', 'good'): 10
('good', 'qualiti', 'yarn'): 9

In [51]:
# Compared to other brands, how do you rate the price of our products?
question = wc_responses.columns[31]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Compared to other brands, how do you rate the price of our products? (Sample Size: n = 2011)

                                                    Total  Percentage
Compared to other brands, how do you rate the p...
About the Same                                        978        48.6
Somewhat Lower                                        620        30.8
Somewhat Higher                                       321        16.0
Significantly Lower                                    51         2.5
Significantly Higher                                   41         2.0

In [52]:
# Where do you prefer to explore or learn about new yarn products?
question = wc_responses.columns[32]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: Where do you prefer to explore or learn about new yarn products? (Sample Size: n = 2161)

                                                    Total  Percentage
Where do you prefer to explore or learn about n...
Online stores                                         590        27.3
No Preference                                         551        25.5
Social media                                          522        24.2
Local yarn shop                                       231        10.7
Fiber festivals, craft fairs, and events              212         9.8
Knitting/crochet workshops                             55         2.5

In [53]:
# Which social media platform do you prefer to learn about new yarn products?
question = wc_responses.columns[33]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(8))

Question: Which social media platform?.1 (Sample Size: n = 496)

                                Total  Percentage
Which social media platform?.1
Instagram                         165        33.3
YouTube                           150        30.2
Facebook                           98        19.8
Pinterest                          34         6.9
Ravelry                            27         5.4
TikTok                             11         2.2
Reddit                              5         1.0
Blogs                               1         0.2

In [54]:
# When shopping online, what encourages you to try *new* yarn products?
question = wc_responses.columns[34]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(6))

Question: When shopping online, what encourages you to try *new* yarn products? (Sample Size: n = 2031)

                                                    Total  Percentage
When shopping online, what encourages you to tr...
Detailed product descriptions                         576        28.4
Customer reviews                                      484        23.8
Free samples or discounts                             396        19.5
Recommendations from influencers                      253        12.5
High-quality images                                   223        11.0
All of the above                                        4         0.2

In [55]:
# What products do you primarily associate with our brand?

# Print statement question.
question = wc_responses.columns[35]
#Same size.
sample_size = wc_responses.iloc[:, 35].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 35].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Add a line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: What products do you primarily associate with our brand? (Sample Size: n = 1917)


Top 10 Single Word Occurrences:
yarn: 1443
everyday: 871
luxuri: 353
qualiti: 186
kit: 77
good: 77
everi: 76
day: 69
wool: 63
varieti: 50


Top 10 Two Word Occurrences:
('everyday', 'yarn'): 710
('yarn', 'everyday'): 458
('luxuri', 'yarn'): 221
('yarn', 'luxuri'): 157
('qualiti', 'yarn'): 93
('everi', 'day'): 67
('luxuri', 'everyday'): 51
('day', 'yarn'): 49
('yarn', 'qualiti'): 48
('yarn', 'good'): 43



Top 10 Three Word Occurrences:
('yarn', 'everyday', 'yarn'): 376
('everyday', 'yarn', 'everyday'): 236
('yarn', 'luxuri', 'yarn'): 100
('luxuri', 'yarn', 'everyday'): 90
('everyday', 'yarn', 'luxuri'): 81
('everi', 'day', 'yarn'): 49
('yarn', 'everi', 'day'): 36
('luxuri', 'everyday', 'yarn'): 35
('qualiti', 'everyday', 'yarn'): 29
('everyday', 'everyday', 'yarn'): 28

In [56]:
#  Which of our yarn fibers do you frequently purchase?

# Print statement question.
question = wc_responses.columns[36]

# Remove parenthesis, they have commas.
preprocessed = wc_responses.iloc[:, 36].str.replace(r"\s*\([^)]*\)", "", regex=True)

# Split previous concatenation.
split_options = preprocessed.str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = wc_responses.iloc[:, 36].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'Split': split_options})
temp_df = temp_df.explode('Split')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['Split'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
option_counts = temp_df['Split'].value_counts().reset_index()
option_counts.columns = ['Options', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
option_counts['Percentage'] = ((option_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(option_counts.head(5))

Question: Which of our yarn fibers do you frequently purchase? (Sample Size: n = 2161)

           Options  Count  Percentage
0     Cotton yarns   1076        49.8
1    Blended yarns   1075        49.7
2  Synthetic yarns   1030        47.7
3       Wool yarns    855        39.6
4     Luxury yarns    254        11.8

In [57]:
# Which types of projects do you typically buy our yarn for?

# Print statement question.
question = wc_responses.columns[37]

# Remove parenthesis, they have commas.
preprocessed = wc_responses.iloc[:, 37].str.replace(r"\s*\([^)]*\)", "", regex=True)

# Split previous concatenation.
split_options = preprocessed.str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = wc_responses.iloc[:, 37].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'Split': split_options})
temp_df = temp_df.explode('Split')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['Split'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
option_counts = temp_df['Split'].value_counts().reset_index()
option_counts.columns = ['Options', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
option_counts['Percentage'] = ((option_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(option_counts.head(5))

Question: Which types of projects do you typically buy our yarn for? (Sample Size: n = 2161)

              Options  Count  Percentage
0      Clothing items   1305        60.4
1         Accessories   1273        58.9
2          Home decor   1088        50.3
3  Toys and amigurumi    560        25.9
4                Baby    476        22.0

In [58]:
# Can you briefly explain why you buy these yarn fibers for the selected project types?

# Print statement question.
question = wc_responses.columns[38]
#Same size.
sample_size = wc_responses.iloc[:, 38].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 38].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: Can you briefly explain why you buy these yarn fibers for the selected project types? (Sample Size: n = 1270)


Top 10 Single Word Occurrences:
yarn: 333
like: 191
fiber: 172
wool: 172
project: 148
cotton: 137
use: 133
qualiti: 126
make: 124
pattern: 119


Top 10 Two Word Occurrences:
('natur', 'fiber'): 70
('easi', 'care'): 37
('prefer', 'natur'): 26
('easi', 'work'): 26
('recommend', 'pattern'): 21
('buy', 'yarn'): 19
('qualiti', 'yarn'): 18
('color', 'select'): 18
('cotton', 'yarn'): 18
('project', 'like'): 16



Top 10 Three Word Occurrences:
('prefer', 'natur', 'fiber'): 17
('like', 'natur', 'fiber'): 13
('wool', 'wool', 'blend'): 8
('use', 'natur', 'fiber'): 7
('cotton', 'cotton', 'blend'): 6
('yarn', 'recommend', 'pattern'): 5
('machin', 'wash', 'dri'): 5
('natur', 'fiber', 'like'): 4
('work', 'well', 'project'): 4
('prefer', 'natur', 'fibr'): 4

In [59]:
# How important is sustainability in the yarns you choose?
question = wc_responses.columns[39]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: How important is sustainability in the yarns you choose? (Sample Size: n = 2045)

                                                    Total  Percentage
How important is sustainability in the yarns yo...
Somewhat important                                    859        42.0
Very important                                        576        28.2
Extremely important                                   289        14.1
Not very important                                    262        12.8
Not important at all                                   59         2.9

In [60]:
# Which social media platforms do you normally get project ideas from?

# Print statement question.
question = wc_responses.columns[40]

# Remove parenthesis, they have commas.
preprocessed = wc_responses.iloc[:, 40].str.replace(r"\s*\([^)]*\)", "", regex=True)

# Split previous concatenation.
split_options = preprocessed.str.split(', ')

# Calculate the total number of rows before exploding.
sample_size = wc_responses.iloc[:, 40].notnull().sum()

# Create a temporary DataFrame for exploding, to avoid modifying the original
temp_df = pd.DataFrame({'Split': split_options})
temp_df = temp_df.explode('Split')

# Filter out rows where 'SplitBrands' is empty or contains only whitespace
temp_df = temp_df[temp_df['Split'].str.strip().astype(bool)]

# Step 3: Count occurrences of each brand
option_counts = temp_df['Split'].value_counts().reset_index()
option_counts.columns = ['Options', 'Count']

# Step 4: Calculate the percentage of each brand's occurrence based on the original number of responses
option_counts['Percentage'] = ((option_counts['Count'] / sample_size) * 100).round(1)

print(f'Question: {question} (Sample Size: n = {sample_size})')

display(option_counts.head(10))

Question: Which social media platforms do you normally get project ideas from? (Sample Size: n = 2161)

                     Options  Count  Percentage
0                    Ravelry   1295        59.9
1                    YouTube    977        45.2
2                  Pinterest    897        41.5
3                  Instagram    792        36.6
4                   Facebook    743        34.4
5  I don't use social media.    118         5.5
6                     TikTok    107         5.0
7                       Etsy     31         1.4
8                     Reddit     21         1.0
9                    Twitter     14         0.6

In [61]:
# Who is your favorite content creator or designer you follow?

# Print statement question.
question = wc_responses.columns[41]
#Same size.
sample_size = wc_responses.iloc[:, 41].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 41].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)

# Count and find the top 10 uni, bi, and tri-grams,
top_bi_grams = Counter(bi_grams).most_common(20)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

print("Top 20 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

Question: Who is your favorite content creator or designer you follow? (Sample Size: n = 1606)


Top 20 Two Word Occurrences:
('mj', 'hook'): 96
('toni', 'lipsey'): 76
('tl', 'yarn'): 69
('yarn', 'craft'): 67
('bag', 'day'): 45
('marli', 'bird'): 30
('hook', 'design'): 26
('day', 'crochet'): 24
('briana', 'k'): 24
('tl', 'yarncraft'): 23
('heart', 'hook'): 19
('hook', 'home'): 19
('daisi', 'farm'): 19
('crochet', 'crowd'): 17
('two', 'wand'): 16
('farm', 'craft'): 16
('one', 'particular'): 14
('andrea', 'mowri'): 14
('express', 'fiber'): 13
('follow', 'anyon'): 12

In [62]:
# How many projects do you start in a year?
question = wc_responses.columns[42]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How many projects do you start in a year? (Sample Size: n = 2037)

                                           Total  Percentage
How many projects do you start in a year?
10.0                                         311        15.3
20.0                                         228        11.2
5.0                                          165         8.1
6.0                                          158         7.8
12.0                                         153         7.5
4.0                                          125         6.1
3.0                                          114         5.6
15.0                                         110         5.4
30.0                                          99         4.9
8.0                                           82         4.0

In [63]:
# How many projects do you complete in a year?
question = wc_responses.columns[43]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How many projects do you complete in a year?  (Sample Size: n = 2161)

                                               Total  Percentage
How many projects do you complete in a year?
10.0                                             216        10.0
5.0                                              198         9.2
3.0                                              175         8.1
20.0                                             152         7.0
8.0                                              148         6.8
4.0                                              145         6.7
2.0                                              136         6.3
15.0                                             135         6.2
6.0                                              125         5.8
12.0                                             102         4.7

In [64]:
# How do you feel about the balance between classic and trendy yarns in our selection? 1 Classic , 5 Trendy.
question = wc_responses.columns[44]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How do you feel about the balance between classic and trendy yarns in our selection? (Sample Size: n = 2004)

                                                    Total  Percentage
How do you feel about the balance between class...
3.0                                                  1618        80.7
2.0                                                   160         8.0
4.0                                                   130         6.5
5.0                                                    55         2.7
1.0                                                    41         2.0

In [65]:
# How often is something you want from our website out-of-stock?
question = wc_responses.columns[45]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How often is something you want from our website out-of-stock? (Sample Size: n = 1933)

                                                    Total  Percentage
How often is something you want from our websit...
Occasionally                                          928        48.0
Rarely                                                650        33.6
Never                                                 211        10.9
Frequently                                            119         6.2
Very frequently                                        25         1.3

In [66]:
# How effective is our communication when items are restocked?
question = wc_responses.columns[46]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How effective is our communication when items are restocked? (Sample Size: n = 1722)

                                                    Total  Percentage
How effective is our communication when items a...
Neutral                                               848        49.2
Effective                                             619        35.9
Very effective                                        197        11.4
Ineffective                                            45         2.6
Very ineffective                                       13         0.8

In [67]:
# Have you been able to find everything you need for a project on our website?
question = wc_responses.columns[47]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Have you been able to find everything you need for a project on our website? (Sample Size: n = 1937)

                                                    Total  Percentage
Have you been able to find everything you need ...
Most Of The Time                                     1263        65.2
Sometimes                                             351        18.1
Always                                                279        14.4
Never                                                  25         1.3
Rarely                                                 19         1.0

In [68]:
# Are there any yarn related products you think we should start carrying?

# Print statement question.
question = wc_responses.columns[48]
#Same size.
sample_size = wc_responses.iloc[:, 48].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 48].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: Are there any yarn related products you think we should start carrying? (Sample Size: n = 438)


Top 10 Single Word Occurrences:
yarn: 85
hook: 59
crochet: 45
tunisian: 29
like: 26
would: 24
color: 23
think: 22
needl: 20
love: 19


Top 10 Two Word Occurrences:
('crochet', 'hook'): 23
('tunisian', 'crochet'): 15
('project', 'bag'): 13
('stitch', 'marker'): 12
('love', 'see'): 9
('tunisian', 'hook'): 9
('safeti', 'eye'): 7
('weight', 'yarn'): 7
('would', 'love'): 6
('would', 'like'): 5



Top 10 Three Word Occurrences:
('tunisian', 'crochet', 'hook'): 9
('hand', 'dy', 'yarn'): 4
('would', 'love', 'see'): 3
('tunisian', 'crochet', 'tool'): 3
('varieti', 'project', 'bag'): 3
('would', 'like', 'see'): 3
('sport', 'weight', 'yarn'): 3
('ca', 'think', 'anyth'): 3
('circular', 'knit', 'machin'): 2
('stitch', 'marker', 'crochet'): 2

In [69]:
# How easy do you find navigating our website to browse products?
question = wc_responses.columns[49]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How easy do you find navigating our website to browse products? (Sample Size: n = 1995)

                                                    Total  Percentage
How easy do you find navigating our website to ...
Very Easy                                            1040        52.1
Somewhat Easy                                         604        30.3
Neutral                                               331        16.6
Somewhat Difficult                                     18         0.9
Very Difficult                                          2         0.1

In [70]:
# Would you recommend any changes to our website to make browsing easier?

# Print statement question.
question = wc_responses.columns[50]
#Same size.
sample_size = wc_responses.iloc[:, 50].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 50].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: Would you recommend any changes to our website to make browsing easier? (Sample Size: n = 399)


Top 10 Single Word Occurrences:
yarn: 82
filter: 46
color: 40
search: 39
weight: 34
like: 29
would: 23
websit: 22
option: 20
easier: 19


Top 10 Two Word Occurrences:
('yarn', 'weight'): 16
('filter', 'option'): 10
('search', 'yarn'): 6
('search', 'filter'): 5
('fiber', 'content'): 5
('easi', 'find'): 5
('yarn', 'line'): 5
('would', 'nice'): 5
('yarn', 'color'): 5
('would', 'help'): 5



Top 10 Three Word Occurrences:
('search', 'yarn', 'weight'): 3
('filter', 'option', 'yarn'): 3
('ca', 'think', 'anyth'): 3
('specif', 'fiber', 'content'): 2
('color', 'side', 'side'): 2
('would', 'nice', 'abl'): 2
('yarn', 'color', 'togeth'): 2
('pair', 'well', 'togeth'): 2
('color', 'look', 'like'): 2
('option', 'list', 'yarn'): 2

In [71]:
# How would you rate the organization and categorization of products on our site?
question = wc_responses.columns[51]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How would you rate the organization and categorization of products on our site? (Sample Size: n = 1977)

                                                    Total  Percentage
How would you rate the organization and categor...
Good                                                  979        49.5
Excellent                                             688        34.8
Average                                               304        15.4
Below Average                                           5         0.3
Poor                                                    1         0.1

In [72]:
# Do you prefer broader categories with more products or more specific categories with fewer products?
question = wc_responses.columns[52]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Do you prefer broader categories with more products or more specific categories with fewer products? (Sample Size: n = 1970)

                                                    Total  Percentage
Do you prefer broader categories with more prod...
A balance of both                                    1013        51.4
More specific categories with fewer products          461        23.4
Broader categories with more products                 337        17.1
No preference                                         159         8.1

In [73]:
# Have you received one of our catalogs before?
question = wc_responses.columns[53]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Have you received one of our catalogs before? (Sample Size: n = 2161)

                                               Total  Percentage
Have you received one of our catalogs before?
No                                              1411        65.3
Yes                                              750        34.7

In [74]:
# Do you enjoy receiving our product catalogs?
question = wc_responses.columns[54]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Do you enjoy receiving our product catalogs? (Sample Size: n = 705)

                                              Total  Percentage
Do you enjoy receiving our product catalogs?
Yes                                             634        89.9
No                                               71        10.1

In [75]:
# How often do our catalogs introduce you to products you weren't aware of before?
question = wc_responses.columns[55]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How often do our catalogs introduce you to products you weren't aware of before? (Sample Size: n = 706)

                                                    Total  Percentage
How often do our catalogs introduce you to prod...
Sometimes                                             304        43.1
Often                                                 219        31.0
Always                                                 90        12.7
Rarely                                                 69         9.8
Never                                                  24         3.4

In [76]:
# Have you ever made a purchase after seeing a product in our catalog?
question = wc_responses.columns[56]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Have you ever made a purchase after seeing a product in our catalog? (Sample Size: n = 697)

                                                    Total  Percentage
Have you ever made a purchase after seeing a pr...
Yes, once                                             276        39.6
No                                                    228        32.7
Yes, multiple times                                   193        27.7

In [77]:
# Are you concerned about the environmental impact of receiving physical catalogs?
question = wc_responses.columns[57]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Are you concerned about the environmental impact of receiving physical catalogs? (Sample Size: n = 706)

                                                    Total  Percentage
Are you concerned about the environmental impac...
Not concerned                                         310        43.9
Somewhat concerned                                    307        43.5
Very concerned                                         89        12.6

In [78]:
# Do you prefer receiving our catalogs digitally or in a physical format? 
question = wc_responses.columns[58]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: Do you prefer receiving our catalogs digitally or in a physical format? (Sample Size: n = 704)

                                                    Total  Percentage
Do you prefer receiving our catalogs digitally ...
Physically                                            325        46.2
Digitally                                             230        32.7
No preference                                         149        21.2

In [79]:
# What improvements would you suggest for our future catalogs?

# Print statement question.
question = wc_responses.columns[59]
#Same size.
sample_size = wc_responses.iloc[:, 59].notnull().sum()

# Load English stopwords
stop_words = set(stopwords.words('english'))

# Initialize the Porter Stemmer
stemmer = PorterStemmer()

#Case sensitive, cast lower case. 
process_data = wc_responses.iloc[:, 59].dropna().astype(str).str.lower()  # Lowercase conversion

def clean_text(text):
    # Tokenize
    tokens = nltk.word_tokenize(text)
    # Remove punctuation
    tokens = [word for word in tokens if word.isalnum()]
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return tokens

# Apply cleaning function
tokenized_data = process_data.apply(clean_text)

# Apply stemming
stemmed_data = tokenized_data.apply(lambda x: [stemmer.stem(word) for word in x])

# Flatten the list of lists for n-grams analysis
all_words = [word for text in stemmed_data for word in text]

# Generate bi-grams and tri-grams
bi_grams = ngrams(all_words, 2)
tri_grams = ngrams(all_words, 3)

# Count and find the top 10 uni, bi, and tri-grams,
top_unigrams = Counter(all_words).most_common(10)
top_bi_grams = Counter(bi_grams).most_common(10)
top_tri_grams = Counter(tri_grams).most_common(10)

#Question statement
print(f'Question: {question} (Sample Size: n = {sample_size})')

# Line break
print("\n")

# Print the top 10 single word occurrences
print("Top 10 Single Word Occurrences:")
for word, count in top_unigrams:
    print(f"{word}: {count}")

# Line break
print("\n")

print("Top 10 Two Word Occurrences:")
for gram, count in top_bi_grams:
    print(f"{gram}: {count}")

# Add a line break
print("\n")

print("\nTop 10 Three Word Occurrences:")
for gram, count in top_tri_grams:
    print(f"{gram}: {count}")

Question: What improvements would you suggest for our future catalogs? (Sample Size: n = 142)


Top 10 Single Word Occurrences:
yarn: 51
catalog: 45
pattern: 25
color: 22
would: 21
like: 19
project: 19
digit: 17
make: 14
show: 13


Top 10 Two Word Occurrences:
('free', 'pattern'): 11
('physic', 'catalog'): 11
('digit', 'catalog'): 6
('would', 'like'): 5
('new', 'yarn'): 4
('yarn', 'line'): 4
('includ', 'free'): 4
('yarn', 'color'): 4
('like', 'see'): 4
('project', 'idea'): 4



Top 10 Three Word Occurrences:
('includ', 'free', 'pattern'): 4
('love', 'physic', 'catalog'): 3
('would', 'like', 'receiv'): 2
('one', 'long', 'time'): 2
('free', 'pattern', 'someth'): 2
('pattern', 'someth', 'small'): 2
('project', 'idea', 'yarn'): 2
('finish', 'project', 'yarn'): 2
('much', 'love', 'physic'): 2
('mayb', 'pattern', 'two'): 1

In [80]:
# Have you ever contacted our customer service before? 
question = wc_responses.columns[60]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(5))

Question: Have you ever contacted our customer service before? (Sample Size: n = 2161)

                                                    Total  Percentage
Have you ever contacted our customer service be...
No                                                   1806        83.6
Yes                                                   355        16.4

In [81]:
# How would you rate the speed of our response to inquiries or issues?
question = wc_responses.columns[61]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(5))

Question: How would you rate the speed of our response to inquiries or issues? (Sample Size: n = 332)

                                                    Total  Percentage
How would you rate the speed of our response to...
Fast                                                  127        38.3
Very Fast                                             106        31.9
Average                                                75        22.6
Slow                                                   16         4.8
Very Slow                                               8         2.4

In [82]:
# How helpful do you find our customer service team?
question = wc_responses.columns[62]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(5))

Question: How helpful do you find our customer service team? (Sample Size: n = 333)

                                                    Total  Percentage
How helpful do you find our customer service team?
Very Helpful                                          196        58.9
Helpful                                                94        28.2
Neutral                                                21         6.3
Somewhat Helpful                                       16         4.8
Not Helpful                                             6         1.8

In [83]:
# How well did our customer service team understand the products related to your inquiry?
question = wc_responses.columns[63]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(5))

Question: How well did our customer service team understand the products related to your inquiry? (Sample Size: n = 328)

                                                    Total  Percentage
How well did our customer service team understa...
Completely                                            169        51.5
Very Well                                             125        38.1
Moderately                                             29         8.8
Not at All                                              4         1.2
Slightly                                                1         0.3

In [84]:
# Overall, are you satisfied with the resolution our customer service provided?
question = wc_responses.columns[64]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(5))

Question: Overall, are you satisfied with the resolution our customer service provided? (Sample Size: n = 334)

                                                    Total  Percentage
Overall, are you satisfied with the resolution ...
Very Satisfied                                        215        64.4
Satisfied                                              72        21.6
Neutral                                                20         6.0
Very Dissatisfied                                      19         5.7
Dissatisfied                                            8         2.4

In [85]:
# What is one thing we could improve about our customer service?
question = wc_responses.columns[65]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(5))

Question: What is one thing we could improve about our customer service? (Sample Size: n = 183)

                                                    Total  Percentage
What is one thing we could improve about our cu...
Nothing                                                11         6.0
nothing                                                 5         2.7
Not sure                                                4         2.2
I have no suggestions                                   2         1.1
nothing I can think of                                  2         1.1

In [86]:
# On a scale of 0-10, how likely are you to recommend us to a friend or family member?
question = wc_responses.columns[66]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: On a scale of 0-10, how likely are you to recommend us to a friend or family member? (Sample Size: n = 1963)

                                                    Total  Percentage
On a scale of 0-10, how likely are you to recom...
10.0                                                  842        42.9
8.0                                                   389        19.8
9.0                                                   270        13.8
7.0                                                   176         9.0
5.0                                                   147         7.5
6.0                                                    84         4.3
3.0                                                    17         0.9
0.0                                                    14         0.7
4.0                                                    14         0.7
2.0                                                     6         0.3

In [87]:
# What is your current age?
question = wc_responses.columns[67]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your current age?   (Sample Size: n = 1909)

                             Total  Percentage
What is your current age?
55-64                          487        25.5
65-74                          412        21.6
45-54                          359        18.8
35-44                          296        15.5
25-34                          173         9.1
75 and older                   107         5.6
18-24                           40         2.1
Prefer not to answer            26         1.4
Under 18                         9         0.5

In [88]:
# How do you identify?
question = wc_responses.columns[68]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: How do you identify?   (Sample Size: n = 1952)

                             Total  Percentage
How do you identify?
Woman                         1834        94.0
Prefer not to answer            67         3.4
Non-Conforming / Non-Binary     27         1.4
Man                             20         1.0
Transgender                      4         0.2

In [89]:
# What is your employment status?
question = wc_responses.columns[69]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your employment status?   (Sample Size: n = 1961)

                                     Total  Percentage
What is your employment status?
Employed full-time                     702        35.8
Retired                                672        34.3
Employed part-time                     203        10.4
Full-time homemaker                    181         9.2
Prefer not to answer                   111         5.7
Student                                 39         2.0
Looking for a job                       38         1.9
Under-employed                          15         0.8

In [90]:
# What is your highest level of education?
question = wc_responses.columns[70]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your highest level of education?   (Sample Size: n = 1962)

                                              Total  Percentage
What is your highest level of education?
Bachelors degree (4-year)                      590        30.1
Some college (no degree)                        369        18.8
Masters degree                                 325        16.6
Associate degree (2-year)                       225        11.5
High school (including GED)                     183         9.3
Technical certification                         100         5.1
Prefer not to answer                             70         3.6
Professional degree (JD, MD)                     45         2.3
Doctoral degree                                  43         2.2
Less than High School                            12         0.6

In [91]:
# What is your marital status?
question = wc_responses.columns[71]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary.head(10))

Question: What is your marital status?   (Sample Size: n = 1964)

                                 Total  Percentage
What is your marital status?
Married                           1234        62.8
Single                             327        16.6
Divorced                           157         8.0
Prefer not to answer               115         5.9
Widowed                            111         5.7
Separated                           20         1.0

In [92]:
# What is your total household income in U.S. dollars?
question = wc_responses.columns[72]
summary, sample_size = summarize_column(wc_responses, question)

print(f'Question: {question} (Sample Size: n = {sample_size})')
display(summary)

Question: What is your total household income in U.S. dollars?   (Sample Size: n = 2068)

                                                    Total  Percentage
What is your total household income in U.S. dol...
Prefer not to answer                                  697        33.7
$65,000 - $79,999                                     187         9.0
$100,000 - $124,999                                   175         8.5
$50,000 - $64,999                                     169         8.2
$35,000 - $49,999                                     169         8.2
$80,000 - $99,999                                     158         7.6
$20,000 - $34,999                                     146         7.1
Under $20,000                                         104         5.0
$125,000 - $149,999                                    95         4.6
Over $200,000                                          85         4.1
$150,000 - $174,999                                    59         2.9
$175,000 - $199,999                                    24         1.2

# Survey End